.tfilter-box {
    padding: 30px ;
    border: 1px solid #77515124;
    border-radius: 5px;
    z-index: 1000;
    margin-left: 70px;
    margin-right: 68px;
    margin-top: 32px;
    margin-bottom: 28px;
    background-image: linear-gradient(to left,rgb(246 201 98 / 61%),rgb(255 223 79 / 76%)) !important;
}
.form-control {
    /* display: block; */
    height: 43px;
    width: unset;
    border: 1px solid #ededed;
    border-radius: 5px;
    background-color: #fff;
    background-image: none;
    box-shadow: none;
    color: #000;
    font-size: 14px;
    line-height: 1.42857143;
}
.form-control:focus {
    border-color: #ffe44e !important;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(194 137 4 / 56%) !important;
}
.card {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.16);
    margin-bottom: 30px;
    overflow: hidden;
    display: block;
    width: 100%;
    position: relative;
    border: 1px solid #e5e5e5;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.searchBtn{
    width: 100%;
    height: 36px;
    border: none;
    border-radius: 5px;
    background-color: #5f5f9a;
    color: white;
    margin-top: 3.5px;
}
.searchBtn:hover {
    background-color: #4e4e91a8;
}
.l-container {
    display: block;
}
.list {
    display: flex;
    background-color: white;
    margin-right: 150px;
    margin-left: 150px;
    height: 114px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.list:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 5px 8px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}
.list__profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: left;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.list__label {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.list__label--header {
    color: #5f5f9a;
    font-size: 20px;
    margin-bottom: 3px;
    letter-spacing: 1px;
}
.list__label--value {
    font-size: 1em;
    letter-spacing: 2px;
    color: #ecb028;
}
.userEmail{
      color: #ecb028;
}
.userEmail:hover{
      color: #eaa200 !important    ;
}
.nav-user-photo {
    vertical-align: middle;
}
@media screen and (max-width: 650px) {
    .list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .list__profile {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 10px;
    }
    .list__label {
      width: 170px;
    }
}
.modal{
    background-color: #00000026 !important;
}
.modal-dialog {
    right: 0;
    left: 50%;
    top: 28%;
    width: 600px;
}
.edidD{
    width: 10%;
    align-items: center;
    display: flex;
    padding-left: 10px;
}