
<div id="top-filter" class="top-filter tfilter-box " data-spy="affix" data-offset-top="197">
    <div class="row">
        <div class="col">
            <input [(ngModel)]="dto_user.identityNumber" #identityNumberInput class="form-control"
                placeholder="תעודת זהות" type="text">
        </div>
        <div class="col">
            <input [(ngModel)]="dto_user.firstName" #firstNameInput class="form-control" placeholder="שם פרטי"
                type="text">
        </div>
        <div class="col">
            <input [(ngModel)]="dto_user.lastName" #lastNameInput class="form-control" placeholder="שם משפחה"
                type="text">
        </div>
        <div class="col">
            <input [(ngModel)]="dto_user.address" #addressInput class="form-control" placeholder="כתובת" type="text">
            <!-- <p-autoComplete [(ngModel)]="city" [suggestions]="filteredCitiesSingle"placeholder="כתובת" (completeMethod)="filterCitySingle($event)"></p-autoComplete> -->
        </div>
        <div class="col">
            <input [(ngModel)]="dto_user.telephoneNumber" #telephoneNumberInput class="form-control" placeholder="טלפון"
                type="text">
        </div>
        <div class="col">
            <!-- <button type="button" class="btn btn-danger glyphicon glyphicon-search" (click)="getAllUsers()">חפש
            </button> -->
            <button class='searchBtn ' type="button" (click)="getAllUsers()"> חפש </button>
        </div>
    </div>
</div>

<div class="l-container">
    <ul style="padding-right: 0px" *ngFor="let user of usersList">
        <li class="list" data-name="JoeBrown">
            <div class="list__profile">
                <img class="pull-left img-circle nav-user-photo" width="90"
                    src="../../../assets/img//faces/face-0.jpg" />  
                <div class="list__label">
                    <div class="list__label--header"> {{user.firstName}} - {{user.lastName}} </div>
                    <div class="list__label--value"> {{user.telephoneNumber1}} / {{user.telephoneNumber2}} </div>
                    <div class="list__label--value"> {{user.address}} {{user.city}} </div>
                    <div class="list__label--value">
                        <a class="userEmail" href="mailto:{{user.email}}">{{user.email}}</a>
                    </div>
                </div>
                <div>
                    <button class='searchBtn' type="button" (click)="edit(user)">ערוך פרטים </button>
                    <button class='searchBtn' type="button" (click)="openPopup(user.id,user.firstName,user.lastName)">מחק משתמש </button>
                </div>
            </div>
        </li>
    </ul>
</div><div class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
[ngStyle]="{'display':displayStyle}">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div style="padding-top: 4px; padding-right: 4px; border-bottom: none;" class="modal-header">
            <button style="float: right; font-weight: bold; background-color: transparent;
            border: none;" class="modal-title">x</button>
        </div>
        <div style="padding-top: 17px; padding-right: 30px; padding-bottom: 0px;" class="modal-body">
            <p style="float: right; margin-top: 0; margin-bottom: 1rem;"> האם אתה בטוח שברצונך למחוק את {{singleUserFirstName}} {{singleUserLastName}} לצמיתות?</p>
        </div>
        <div style="border-top: none;" class="modal-footer">
            <button style="background-color: #f1d57e; border-color: #e7d35d ;width: 87px; margin-right: 18px" type="button" class="searchBtn" (click)="closePopup()">
                ביטול
            </button>
            <button style="width: 87px; margin-right: 18px;" type="button" class="searchBtn" (click)="deleteUser()">
                אישור
            </button>
        </div>
    </div>
</div>
</div>