<p>users works!</p>
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->


<!-- <div class="ad-sektion-top hidden-xs" style="margin-top:80px;">
    <div class="container-fluid text-center">
        <div class="row">
        </div>
    </div>
</div> -->
<div id="top-filter" style="margin-top:40px; margin-bottom: 20px;" class="top-filter tfilter-box hidden-xs" data-spy="affix" data-offset-top="197">
    <div class="container">
        <div class="row" >
            <div class="col">
                <input type="text" [(ngModel)]="dto_user.firstName" #firstNameInput class="form-control" placeholder="שם פרטי"
                    type="text">
            </div>
            <div class="col">
                <input type="text" [(ngModel)]="dto_user.lastName" #lastNameInput class="form-control" placeholder="שם משפחה"
                    type="text">
            </div>
            <div class="col">
                <p-autoComplete [(ngModel)]="city" [suggestions]="filteredCitiesSingle" placeholder="כתובת"
                    (completeMethod)="filterCitySingle($event)"></p-autoComplete>
            </div>
            <div class="col">
                <input type="text" [(ngModel)]="dto_user.telephoneNumber" #telephoneNumberInput class="form-control"
                    placeholder="טלפון" type="text">
            </div>
            <div class="col">
                <input type="email"[(ngModel)]="dto_user.email" #emailInput class="form-control" placeholder="כתובת מייל"
                    type="email">
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-danger glyphicon glyphicon-search" (click)="getAllUsers()">חפש
                </button>
            </div>
            
        </div>
        <div class="row ">
            <p-selectButton [options]="viewOptions" [(ngModel)]="value2" (onOptionClick)="filterTheUsers($event)"
                optionLabel="name"></p-selectButton>
        </div>
    </div>
</div>
<div class="container-fluid" style="width: max-content;">
<p-accordion *ngFor="let user of usersList">
    <p-accordionTab style="text-align: right;" header="{{user.firstName}} {{user.lastName}}"[selected]="false">
        <div class="container">
            <div class="row">
                <div class="col">
                    <label>תעודת זהות:</label>
                    {{user.identityNumber}}
                </div>
                <div class="col">
                    <label>טלפון 1:</label>
                    {{user.telephoneNumber1}}
                </div>
                <div class="col">
                    <label>טלפון 2:</label>
                    {{user.telephoneNumber2}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>דואר אלקטרוני:</label>
                    <a href="mailto:{{user.email}}">{{user.email}} </a>
                </div>
                <div class="col">
                    <label>כתובת:</label>
                    {{user.address}} {{user.city}}
                </div>
                <div class="col">
                    <label>הערות:</label>
                    {{user.comments}}
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <button pButton type="button" label="ערוך" icon="pi pi-user-edit
                    " iconPos="right" (click)="edit(user)"></button>
                </div>
                <div class="col-2">
                    <button type="button" pButton (click)="showConfirm()" label="מחק משתמש" class="ui-button-warning"
                        icon="pi pi-trash"></button>
                </div>
            </div>
        </div>
        <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
            <ng-template let-message pTemplate="message">
                <div style="text-align: center">
                    <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                    <h3>האם אתה בטוח??</h3>
                    <p>למחוק?</p>
                </div>
                <div class="p-grid ui-fluid">
                    <div class="p-col-6">
                        <button type="button" pButton (click)="onConfirm(user.id)" label="כן"
                            class="ui-button-success"></button>
                    </div>
                    <div class="p-col-6">
                        <button type="button" pButton (click)="onReject()" label="לא"
                            class="ui-button-secondary"></button>
                    </div>
                </div>
            </ng-template>
        </p-toast>
    </p-accordionTab>
</p-accordion>
</div>