<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div id="top-filter" class="top-filter tfilter-box " data-spy="affix" data-offset-top="197">
    <div class="row">
        <div class="col">
            <input [(ngModel)]="dto_user.identityNumber" #identityNumberInput class="form-control"
                placeholder="תעודת זהות" type="text">
        </div>
        <div class="col">
            <input [(ngModel)]="dto_user.firstName" #firstNameInput class="form-control" placeholder="שם פרטי"
                type="text">
        </div>
        <div class="col">
            <input [(ngModel)]="dto_user.lastName" #lastNameInput class="form-control" placeholder="שם משפחה"
                type="text">
        </div>
        <div class="col">
            <input [(ngModel)]="dto_user.address" #addressInput class="form-control" placeholder="כתובת" type="text">
            <!-- <p-autoComplete [(ngModel)]="city" [suggestions]="filteredCitiesSingle"placeholder="כתובת" (completeMethod)="filterCitySingle($event)"></p-autoComplete> -->
        </div>
        <div class="col">
            <input [(ngModel)]="dto_user.telephoneNumber" #telephoneNumberInput class="form-control" placeholder="טלפון"
                type="text">
        </div>
        <div class="col">
            <!-- <button type="button" class="btn btn-danger glyphicon glyphicon-search" (click)="getAllUsers()">חפש
            </button> -->
            <button class='searchBtn' type="button" (click)="getAllUsers()">חפש </button>
        </div>
    </div>
</div>

<div class="l-container">
    <ul style="padding-right: 0px" *ngFor="let user of usersList">
        <li class="list" data-name="JoeBrown">
            <div class="list__profile">
                <img class="pull-left img-circle nav-user-photo" width="90"
                    src="../../../assets/img//faces/face-0.jpg" />  
                <div class="list__label">
                    <div class="list__label--header"> {{user.firstName}} - {{user.lastName}} </div>
                    <div class="list__label--value"> {{user.telephoneNumber1}} / {{user.telephoneNumber2}} </div>
                    <div class="list__label--value"> {{user.address}} {{user.city}} </div>
                    <div class="list__label--value">
                        <a class="userEmail" href="mailto:{{user.email}}">{{user.email}}</a>
                    </div>
                </div>
                <div >
                    <button class='searchBtn' type="button" (click)="edit(user)">ערוך פרטים </button>
                    <button data-toggle="modal" href="#myModal"  class='searchBtn' type="button" (click)="showConfirm()">מחק משתמש </button>
                </div>
            </div>
        </li>
    </ul>
</div>
<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
                <h4 class="modal-title">Modal Heading</h4>
            </div>
            <div class="modal-body">
                <h4>Text in a modal</h4>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-check"></span> Save</button>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dalog -->
</div>
<!-- <p-accordion *ngFor="let user of usersList">
    <p-accordionTab header={{user.firstName}}{{user.lastName}} [selected]="false">
        <label class="p-col-fixed" style="width:100px">:תעודת זהות</label><br>
        {{user.identityNumber}}<br>
        <label class="p-col-fixed" style="width:100px">:1טלפון</label><br>
        {{user.telephoneNumber1}}<br>
        <label class="p-col-fixed" style="width:100px">:2טלפון</label><br>
        {{user.telephoneNumber2}}<br>
        <label class="p-col-fixed" style="width:100px">:דואר אלקטרוני</label><br>
        {{user.email}}<br>
        <label class="p-col-fixed" style="width:100px">:כתובת</label><br>
        {{user.address}} {{user.city}}<br>
        <label class="p-col-fixed" style="width:100px">:הערות</label><br>
        {{user.comments}}<br>
        <button pButton type="button" label="ערוך" icon="pi pi-pencil" iconPos="right" (click)="edit(user)"></button>
        <button type="button" pButton (click)="showConfirm()" label="מחק משתמש" class="ui-button-warning"></button>
        <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
            <ng-template let-message pTemplate="message">
                <div style="text-align: center">
                    <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                    <h3>האם אתה בטוח??</h3>
                    <p>למחוק?</p>
                </div>
                <div class="p-grid ui-fluid">
                    <div class="p-col-6">
                        <button type="button" pButton (click)="onConfirm(user.id)" label="Yes"
                            class="ui-button-success"></button>
                    </div>
                    <div class="p-col-6">
                        <button type="button" pButton (click)="onReject()" label="No"
                            class="ui-button-secondary"></button>
                    </div>
                </div>
            </ng-template>
        </p-toast>
    </p-accordionTab>

</p-accordion> -->