<div class="card card-user">
  <div class="title">
    <label class="card-title  mainTitle"> הלוואה חדשה</label>
  </div>
  <div>
    <label class="commf">שדות המסומנים בכוכבית (*) הם שדות חובה</label>
  </div>
  <div class="subTitleDiv">
    <label class="card-title pull-right subTitle"> פרטים אישיים</label>
  </div>
  <div class="card-body">
    <form [formGroup]="loanerDetailesLoanForm" style="direction: rtl;">
      <div class="row formRow">
        <div class="col-md-3 pr-1">
          <div class="form-group">
            <label for="date" class="pull-right fileLabel required">תאריך הלוואה</label>
            <input formControlName="date" id="date" type="date" class="form-control" placeholder="תאריך הלוואה"
              required>
            <div class="validate"
              *ngIf="(loanerDetailesLoanFormControl.date.invalid && ( loanerDetailesLoanFormControl.date.dirty ||  loanerDetailesLoanFormControl.date.touched || formSubmitAttempt)) &&  loanerDetailesLoanFormControl.date.errors.required ">
              <div>זהו שדה חובה</div>
            </div>
          </div>

        </div>
        <div class="col-md-3 px-1">
          <div class="form-group">
            <label for="hebrewDate" class="pull-right fileLabel">תאריך הלוואה עברי</label>
            <input type="text" formControlName="hebrewDate" class="form-control" placeholder="תאריך הלוואה עברי"
              id="hebrewDate" value="תאריך הלוואה עבר">
          </div>
        </div>
      </div>
    </form>
    <form [formGroup]="loanerDetailesUserForm" style="direction: rtl;">
      <div class="row formRow">
        <div class="col-md-3 pr-1">
          <div class="form-group">
            <label for="identityNumber" class="pull-right fileLabel required">ת"ז/דרכון</label>
            <input type="text" formControlName="identityNumber" class="form-control" (blur)="checkUserForLoan($event)"
              id="identityNumber" placeholder='ת"ז/דרכון' required>
            <div class="validate"
              *ngIf="(loanerDetailesUserFormControl.identityNumber.invalid && ( loanerDetailesUserFormControl.identityNumber.dirty ||  loanerDetailesUserFormControl.identityNumber.touched || formSubmitAttempt)) &&  loanerDetailesUserFormControl.identityNumber.errors.required ">
              <div>זהו שדה חובה</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 px-1">
          <div class="form-group">
            <label for="firstName" class="pull-right fileLabel required">שם פרטי</label>
            <input type="text" formControlName="firstName" id="firstName" class="form-control" required
              placeholder="שם פרטי">
            <div class="validate"
              *ngIf="(loanerDetailesUserFormControl.firstName.invalid && ( loanerDetailesUserFormControl.firstName.dirty ||  loanerDetailesUserFormControl.firstName.touched || formSubmitAttempt)) &&  loanerDetailesUserFormControl.firstName.errors.required ">
              <div> זהו שדה חובה</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 pl-1">
          <div class="form-group">
            <label for="lastName" class="pull-right fileLabel required">שם משפחה</label>
            <input type="text" formControlName="lastName" id="lastName" class="form-control" placeholder="שם משפחה"
              required>
            <div class="validate"
              *ngIf="(loanerDetailesUserFormControl.lastName.invalid && ( loanerDetailesUserFormControl.lastName.dirty ||  loanerDetailesUserFormControl.lastName.touched || formSubmitAttempt)) &&  loanerDetailesUserFormControl.lastName.errors.required ">
              <div> זהו שדה חובה</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 pl-1">
          <div class="form-group">
            <label for="email" class="pull-right fileLabel ">כתובת מייל</label>
            <input formControlName="email" id="email" type="email" class="form-control" placeholder="כתובת מייל">
            <div class="validate"
              *ngIf="(loanerDetailesUserFormControl.email.invalid && ( loanerDetailesUserFormControl.email.dirty ||  loanerDetailesUserFormControl.email.touched || formSubmitAttempt)) &&  loanerDetailesUserFormControl.email.errors.required ">
              <div> כתובת המייל אינו תקין</div>
            </div>
          </div>
        </div>
      </div>


      <div class="row formRow">
        <div class="col-md-3 pr-1">
          <div class="form-group">
            <label for="address" class="pull-right fileLabel required">כתובת</label>
            <input formControlName="address" id="address" type="text" class="form-control" required>
            <div class="validate"
              *ngIf="(loanerDetailesUserFormControl.address.invalid && ( loanerDetailesUserFormControl.address.dirty ||  loanerDetailesUserFormControl.address.touched || formSubmitAttempt)) &&  loanerDetailesUserFormControl.address.errors.required ">
              <div> זהו שדה חובה</div>
            </div>
          </div>
        </div>

        <div class="col-md-3 pl-1">
          <div class="form-group">
            <label for="telephoneNumber" class="pull-right fileLabel ">טלפון בית/נייד</label>
            <input type="text" formControlName="telephoneNumber" id="telephoneNumber" class="form-control"
              placeholder="נייד/טלפון בית">
          </div>
        </div>
        <div class="col-md-3 pl-1">
          <div class="form-group">
            <label for="cellphoneNumber" class="pull-right fileLabel required">נייד</label>
            <input formControlName="cellphoneNumber" id="cellphoneNumber" type="tel" class="form-control"
              placeholder="נייד/טלפון בית">
            <div class="validate"
              *ngIf="(loanerDetailesUserFormControl.cellphoneNumber.invalid && ( loanerDetailesUserFormControl.cellphoneNumber.dirty ||  loanerDetailesUserFormControl.cellphoneNumber.touched || formSubmitAttempt)) &&  loanerDetailesUserFormControl.cellphoneNumber.errors.required ">
              <div> זהו שדה חובה</div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="subTitleDiv">
    <label class="card-title pull-right subTitle">פרטי הלוואה</label>
  </div>
  <div class="card-body">
    <form [formGroup]="loanerDetailesLoanForm" style="direction: rtl;">
      <div class="row formRow">
        <div class="col-md-2 pr-1">
          <div class="form-group">
            <label for="sum" class="pull-right fileLabel required">סכום הלוואה</label>
            <input formControlName="sum" id="sum" type="number" class="form-control" placeholder="סכום הלוואה" required>
            <div class="validate"
              *ngIf="(loanerDetailesLoanFormControl.sum.invalid && ( loanerDetailesLoanFormControl.sum.dirty ||  loanerDetailesLoanFormControl.sum.touched || formSubmitAttempt)) &&  loanerDetailesLoanFormControl.sum.errors.required ">
              <div> זהו שדה חובה</div>
            </div>
          </div>
        </div>
        <div class="col-md-1 pr-1">
          <div class="form-group">
            <label for="currency" class="pull-right fileLabel required">מטבע</label>
            <select formControlName="currencyId" class="form-control">
              <option value=1>
                ש"ח
              </option>
              <option value=3 selected="selected">
                $
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3 pl-1">
          <div class="form-group">
            <label for="repaymentDate" class="pull-right fileLabel required">תאריך החזר ההלוואה</label>
            <input formControlName="repaymentDate" id="repaymentDate" type="date" class="form-control"
              placeholder="תאריך החזר ההלוואה" required>
            <div class="validate"
              *ngIf="(loanerDetailesLoanFormControl.repaymentDate.invalid && ( loanerDetailesLoanFormControl.repaymentDate.dirty ||  loanerDetailesLoanFormControl.repaymentDate.touched || formSubmitAttempt)) &&  loanerDetailesLoanFormControl.repaymentDate.errors.required ">
              <div> זהו שדה חובה</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 px-1">
          <div class="form-group">
            <label for="hebrewRepaymentDate" class="pull-right fileLabel"> תאריך החזר הלוואה עברי</label>
            <input formControlName="hebrewRepaymentDate" id="hebrewRepaymentDate" type="text" class="form-control"
              placeholder="תאריך החזר הלוואה עברי">
          </div>
        </div>
        <div class="col-md-3 pl-1">
          <div class="form-group">
            <label for="paymentsNumber" class="pull-right fileLabel ">מספר תשלומים </label>
            <input formControlName="paymentsNumber" id="paymentsNumber" type="number" class="form-control"
              placeholder="מספר תשלומים">
            <div class="validate"
              *ngIf="(loanerDetailesLoanFormControl.paymentsNumber.invalid && ( loanerDetailesLoanFormControl.paymentsNumber.dirty ||  loanerDetailesLoanFormControl.paymentsNumber.touched || formSubmitAttempt)) &&  loanerDetailesLoanFormControl.paymentsNumber.errors.required ">
              <div> זהו שדה חובה</div>
            </div>
          </div>
        </div>

        <div class="col-md-3 pr-1">
          <div class="form-group">
            <label for="monthlyPaymentDay" class="pull-right fileLabel "> יום תשלום חודשי</label>
            <input formControlName="monthlyPaymentDay" id="monthlyPaymentDay" type="number" class="form-control"
              placeholder="יום תשלום חודשי">
          </div>
        </div>

        <div class="col-md-3 px-1">
          <div class="form-group">
            <label for="monthlyPaymentSum" class="pull-right fileLabel "> סכום החזר חודשי</label>
            <input formControlName="monthlyPaymentSum" id="monthlyPaymentSum" type="number" class="form-control"
              placeholder="סכום החזר חודשי">
          </div>
        </div>

        <div class="col-md-3 pl-1">
          <div class="form-group">
            <label for="repaymentFirstDate" class="pull-right fileLabel "> תאריך ראשון לפרעון</label>
            <input formControlName="repaymentFirstDate" id="repaymentFirstDate" type="date" class="form-control"
              placeholder="תאריך ראשון לפרעון">
          </div>
        </div>

        <div class="col-md-3 pl-1 uploadDiv">
          <input formControlName="shtar" id="shtar" type="file" class="file-input" (change)="onFileSelected($event)"
            #fileUpload required>
          <div class="file-upload">
            {{fileName }}
            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
              צרף שטר
            </button>
          </div>
          <div class="validate"
            *ngIf="(loanerDetailesLoanFormControl.shtar.invalid && ( loanerDetailesLoanFormControl.shtar.dirty ||  loanerDetailesLoanFormControl.shtar.touched || formSubmitAttempt)) &&  loanerDetailesLoanFormControl.shtar.errors.required ">
            <div> זהו שדה חובה</div>
          </div>
        </div>

      </div>
    </form>
  </div>
  <!-- <div class="subTitleDiv">
    <label class="card-title pull-right subTitle"> פרטי בנק  </label>
   <label class="ddLable">(לתשלום בהוראת קבע)</label>
  </div> -->
  <!-- <div class="card-body">
    <form [formGroup]="loanerDetailesLoanForm" style="direction: rtl;">
      <div class="row formRow">
        <div class="col-md-10 pr-1">
          <div class="form-group">
            <label for="sum" class="pull-right fileLabel ">שם המוטב  </label>
            <input formControlName="sum" id="sum" type="text" class="form-control" placeholder="שם המוטב ">
          </div>
        </div>
        
       
        <div class="col-md-4 px-1">
          <div class="form-group">
            <label for="hebrewRepaymentDate" class="pull-right fileLabel">    בנק</label>
            <input formControlName="hebrewRepaymentDate" id="hebrewRepaymentDate" type="text" class="form-control"
              placeholder="בנק">
          </div>
        </div>
        <div class="col-md-3 pl-1">
          <div class="form-group">
            <label for="paymentsNumber" class="pull-right fileLabel ">מספר חשבון </label>
            <input formControlName="paymentsNumber" id="paymentsNumber" type="number" class="form-control"
              placeholder="מספר חשבון">
          </div>
        </div>

        <div class="col-md-3 pr-1">
          <div class="form-group">
            <label for="monthlyPaymentDay" class="pull-right fileLabel "> סניף</label>
            <input formControlName="monthlyPaymentDay" id="monthlyPaymentDay" type="text" class="form-control"
              placeholder="סניף  ">
          </div>
        </div>

      </div>
    </form>
  </div> -->

  <!-- <div class="wrapper "> -->
  <div class="">
    <app-guaranty-details></app-guaranty-details>
    <app-guaranty-details></app-guaranty-details>
    <app-guaranty-details></app-guaranty-details>
    <app-guaranty-details></app-guaranty-details>
    <app-guaranty-details></app-guaranty-details>
    <div class="end">
      <!-- <div class="card card-user"> -->
      <div class="subTitleDiv">
        <label class="card-title pull-right subTitle"> הערות</label>
      </div>
      <div class="card-body">
        <form [formGroup]="loanerDetailesUserForm" style="direction: rtl;">
          <div class=" formRow">
            <div class="form-group">
              <div class="col-md-12">
                <label style="margin-bottom: 10px;" class="pull-right fileLabel">הערות</label>
                <textarea style="width: 100%;" class="form-control textarea"></textarea>
              </div>
            </div>
          </div>
          <div class="row formRow">
            <div class="update ml-auto mr-auto">
              <button type="button" (click)="save()" class="btn btn-primary btn-primary btn-lg ladda-button saveBtn">
                שמור הלוואה</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="modal-title" (click)="closePopup()">x</button>
      </div>
      <div class="modal-body">
        <div *ngIf="!err && formErr || err && formErr">
          <p class="pmodal"> שגיאה בפרטי הלוואה</p>
        </div>
        <div *ngIf="err && !formErr">
          <p  class="pmodal"> שגיאה בנתוני הערבים להלוואה</p>
        </div>
        <div *ngIf="!err && !formErr">
          <p class="pmodal"> הלוואה חדשה נשמרה בהצלחה</p>
        </div>
        
        
      </div>
      <div style="border-top: none;" class="modal-footer">
        <button type="button" class="searchBtn searchBtn1" (click)="closePopup()"> אישור</button>
      
      </div>
    </div>
  </div>
</div>