
.centered-form{
	margin-top: 60px;
}
.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
div.panel.panel-default{
    width: 200%;
}
  div.card{
    width: 80%;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .bg-overlay{
    background: rgba(0,0,0, .7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    z-index: 0;
  }
  .btn{
    min-width: 190px;
    min-height: 50px;
    font-size: larger;
  }

div  div  div.card.card-user  div.card-header{
  background-color:peachpuff;
}
 div  div.card-header{
  background-color:peachpuff;
}
.card-body{
width: 100%;
margin: 24px;
}
.fileLabel{
  color: black !important;
  font-size: 15px !important;
  
}
.required::before{
  content:" *";
  color: #db4848;
}
.subTitle{
    margin: 0 15px;
    font-size: 18px !important;
    font-weight: 500 !important;
    color: #285c7e !important;
}
.subTitleDiv{
    background-color: #e9f4fa;
    border-right: 4px solid #285c7e;
    font-family: arimo-bold,Arial;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(to left,rgb(246 201 98 / 61%),rgb(255 223 79 / 76%)) !important;
    height: 51px;

}
.title{
  height: 52px;
    background-color: #5f5f9a;
    justify-content: center;
    display: flex;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;

}
.mainTitle{
  color: white !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  justify-content: center;
  align-items: center;
  display: flex;
}
div.card.card-user{
  margin-right: 10%;
  bottom: 21px;
  margin-top: 62px;
}
.formRow{
  width: 95%;
}
.upload-btn{
  background-color: #3c3c96;
    width: 102px;
    height: 38px;
    color: white;
    border: none;
    border-radius: 3px;
}
.uploadDiv{
  display: flex;
  align-items: flex-end;
}
.saveBtn{
  background-color: #5f5f9a !important;
    width: 26vw !important;
    border-radius: 3px !important;
}
.update{
  display: flex;
  justify-content: center;
}
input#file-upload-button{
  background-color: #285c7e !important;
}
