<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<header>
    <div id="top-filter" class=" tfilter-box hidden-xs" data-spy="affix" data-offset-top="197">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-md-12">
                            <input [(ngModel)]="dto_loans.firstName" #firstNameInput class="form-control"
                                placeholder="שם פרטי" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-md-12">
                            <input [(ngModel)]="dto_loans.lastName" #lastNameInput class="form-control"
                                placeholder="שם משפחה" type="text">
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-2">
                        <select (change)="onChange($event.target.value)" [(ngModel)]="selectedSum" class="form-control">
                            <option value="sum">
                                סכום מדויק
                            </option>
                            <option value="from">
                                החל מ
                            </option>
                            <option value="till">
                                עד
                            </option>
                            <option value="range">
                                טווח
                            </option>
                        </select>
                    </div>
                    <div *ngIf="selectedSum=='from' || selectedSum=='range'" class="col-sm-2">
                        <div class="row">
                            <div class="col-md-12">
                                <input [(ngModel)]="dto_loans.sumFrom" #fromSumInput class="form-control"
                                    placeholder=" החל מ" type="text">
                            </div>
                        </div>
                    </div>
                    <div *ngIf="selectedSum=='till' || selectedSum=='range' " class="col-sm-2">
                        <div class="row">
                            <div class="col-md-12">
                                <input [(ngModel)]="dto_loans.sumTill" #tillSumInput class="form-control"
                                    placeholder="עד" type="text">
                            </div>
                        </div>
                    </div>
                    <div *ngIf="selectedSum=='sum'" class="col-sm-2">
                        <div class="row">
                            <div class="col-md-12">
                                <input [(ngModel)]="dto_loans.sumExact" #sumInput class="form-control"
                                    placeholder=" סכום" type="text">
                            </div>
                        </div>
                    </div> -->
                <div class="col-sm-4">
                    <button type="button" class="btn btn-danger glyphicon glyphicon-search"
                        (click)="getAllPayments()">חפש
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
<div style="display: flex; margin-top: 3rem;">
    <div class="col-2" style="margin-right: 5rem;">
        <div class="filterSide">
            <article class="card-group-item">
                <header class="card-header">
                    <h4 style="text-align: center; margin: 0px 0px 0px;" class="title">סינון לפי סכום </h4>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <div class="row filter_title">
                            סכום מדויק
                        </div>
                        <div class="row filter_input">
                            <input type="number" class="form-control" id="inputEmail4" placeholder="סכום מדויק">
                        </div>
                        <div class="row filter_title">
                            החל מסכום
                        </div>
                        <div class="row filter_input">
                            <input type="number" class="form-control" id="inputEmail4" placeholder="החל מסכום">
                        </div>
                        <div class="row filter_title">
                            עד סכום
                        </div>
                        <div class="row filter_input">
                            <input type="number" class="form-control" placeholder="עד סכום">
                        </div>
                    </div>
                </div>
            </article>
            <article class="card-group-item">
                <header class="card-header">
                    <h4 style="text-align: center;  margin: 0px 0px 0px;" class="title">סינון לפי תאריך </h4>
                </header>
                <div style="margin: 0px 0px 0px" class="filter-content">
                    <div class="card-body">
                        <div class="row filter_title">
                            תאריך מדויק
                        </div>
                        <div class="row filter_input">
                            <input  type="date" class="form-control">
                        </div>
                        <div class="row filter_title">
                            החל מתאריך
                        </div>
                        <div class="row filter_input">
                            <input  type="date" class="form-control" >
                        </div>
                        <div class="row filter_title">
                            עד לתאריך
                        </div>
                        <div class="row filter_input">
                            <input  type="date" class="form-control" >
                        </div>
                    </div>
                </div>
            </article>
            <article class="card-group-item">
                <header class="card-header">
                    <h4 style="text-align: center; margin: 0px 0px 0px;" class="title">הלוואות פעילות </h4>
                </header>
                <div class="filter-content text-right">
                    <div class="boxes">
                        <input type="checkbox" id="box-1">
                        <label style="right: 18px;" for="box-1">הצג את ההלוואות הפעילות</label>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="col-9">
        <div class="l-container">
            <ul style="padding-right: 0px" *ngFor="let loan of loanerToDisplay">
                <li class="list" data-name="JoeBrown">
                    <div class="list__profile">
                        <img class="pull-left img-circle nav-user-photo" width="90"
                            src="../../../assets/img//faces/face-0.jpg" />  
                        <div class="list__label">
                            <div class="list__label--header"> {{loan.user.firstName}} {{loan.user.lastName}}</div>
                            <div class="list__label--value"> - {{loan.loaner.sum}} סכום הלוואה: </div>
                            <div class="list__label--value"> {{loan.loanPaymantsStatus.sumPadeUp}}סכום ששולם: </div>
                            <div class="list__label--value"> {{loan.loanPaymantsStatus.rest}}סכום שנותר: </div>
                        </div>
                        <div>
                            <button class='searchBtn' type="button" (click)="showDetails(loan)">ערוך פרטים </button>
                            <button data-toggle="modal" href="#myModal" class='searchBtn' type="button"
                                (click)="showConfirm()">מחק משתמש </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<p-dialog *ngIf="loaner" header={{loaner.user.firstName}} [(visible)]="display" modal="modal" [style]="{width: '350px'}"
    [responsive]="true">
    <span>
        <app-loaner-detailes [loaner]="loaner"></app-loaner-detailes>
        <!-- <label  class="p-col-fixed" style="width:100px">שם פרטי</label>
            {{loaner.user.firstName}}
            <br/> -->
        <button type="button" pButton (click)="getPaymentsForLoan(loaner.user.id)"
            label="צפה בתשלומים שנכנסו עבור הלוואה זו"></button>
        <button type="button" pButton (click)="getGuarantiesForLoan()" label="ערבים"></button>
        <!-- <div *ngIf="loaner.payments"></div> -->
        <!-- <p-virtualScroller *ngIf="loaner.payments" [value]="loaner.payments" scrollHeight="500px" [itemSize]="150">
            <ng-template pTemplate="item" let-car>
                Car content
            </ng-template>
        </p-virtualScroller> -->
        <!-- <p-listbox *ngIf="loaner.payments" [options]="loaner.payments"  [(ngModel)]="selectedPayment" [listStyle]="{'max-height':'250px'}">
            <ng-template let-loan pTemplate="item" >
                <div  class="ui-helper-clearfix">
                    <span style="float:right;margin:20px 10px 0 0">
                        {{loan.collectionSum}} - {{loan.paymentDate}} - {{loan.inputDate}}
                    </span>
                </div>
            </ng-template>
           <p-footer>
                selectedPayment: {{selectedPayment||'none'}}
            </p-footer>
        </p-listbox>  -->
        <button type="button" (click)="selectedPayment=null" pButton icon="pi pi-times"
            label="Clear Selected Car"></button> -->
        <p-orderList *ngIf="loaner.payments" [value]="loaner.payments">
            <ng-template let-payment pTemplate="item">
                <div class="ui-helper-clearfix">
                    <div style="font-size:14px;float:right;margin:15px 5px 0 0">
                        {{payment.collectionSum}} - {{payment.paymentDate}} - {{payment.inputDate}} </div>
                </div>
            </ng-template>
        </p-orderList>
        <p-orderList *ngIf="loaner.guaranty" [value]="loaner.guaranty" id="guarantysCo">
            <ng-template let-guaranty pTemplate="item">
                <div class="ui-helper-clearfix">
                    <div style="font-size:14px;float:right;margin:15px 5px 0 0">
                        {{guaranty.user.firstName}} - {{guaranty.user.lastName}} - {{guaranty.user.telephone1}} -
                        {{guaranty.user.email}} </div>
                </div>
            </ng-template>
        </p-orderList>
    </span>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-times" (click)="display=false" label="אישור"></button>
        </div>
    </p-footer>
</p-dialog>