<div id="top-filter" class="top-filter tfilter-box " data-spy="affix" data-offset-top="197">
    <div class="row">
        <div class="col">
            <input [(ngModel)]="dtoUsersPrms.identityNumber" #identityNumberInput class="form-control-top"
                placeholder="תעודת זהות" type="text">
        </div>
        <div class="col">
            <input [(ngModel)]="dtoUsersPrms.firstName" #firstNameInput class="form-control-top" placeholder="שם פרטי"
                type="text">
        </div>
        <div class="col">
            <input [(ngModel)]="dtoUsersPrms.lastName" #lastNameInput class="form-control-top" placeholder="שם משפחה"
                type="text">
        </div>
        <div class="col">
            <input [(ngModel)]="dtoUsersPrms.address" #addressInput class="form-control-top" placeholder="כתובת" type="text">
        </div>
        <div class="col">
            <input [(ngModel)]="dtoUsersPrms.cellphoneNumber" #telephoneNumberInput class="form-control-top" placeholder="טלפון"
                type="text">
        </div>
        <div class="col">
            <button class='searchBtn' type="button" (click)="getAllUsers()">חפש </button>
        </div>
    </div>
</div>
<div style="display: flex; margin-top: 3rem;">
    <div class="col-2" style="margin-right: 5rem;">
        <div class="filterSide">
            <article class="card-group-item">
                <header class="card-header">
                    <h4 style="text-align: center; margin: 0px 0px 0px;" class="title">סינון לפי סכום </h4>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <div class="row filter_title">
                            סכום מדויק
                        </div>
                        <div class="row filter_input">
                            <input type="number" class="form-control" id="inputEmail4" placeholder="סכום מדויק">
                        </div>
                        <div class="row filter_title">
                            החל מסכום
                        </div>
                        <div class="row filter_input">
                            <input type="number" class="form-control" id="inputEmail4" placeholder="החל מסכום">
                        </div>
                        <div class="row filter_title">
                            עד סכום
                        </div>
                        <div class="row filter_input">
                            <input type="number" class="form-control" placeholder="עד סכום">
                        </div>
                    </div>
                </div>
            </article>
            <article class="card-group-item">
                <header class="card-header">
                    <h4 style="text-align: center;  margin: 0px 0px 0px;" class="title">סינון לפי תאריך </h4>
                </header>
                <div style="margin: 0px 0px 0px" class="filter-content">
                    <div class="card-body">
                        <div class="row filter_title">
                            תאריך מדויק
                        </div>
                        <div class="row filter_input">
                            <input  type="date" class="form-control">
                        </div>
                        <div class="row filter_title">
                            החל מתאריך
                        </div>
                        <div class="row filter_input">
                            <input  type="date" class="form-control" >
                        </div>
                        <div class="row filter_title">
                            עד לתאריך
                        </div>
                        <div class="row filter_input">
                            <input  type="date" class="form-control" >
                        </div>
                    </div>
                </div>
            </article>
            <article class="card-group-item">
                <header class="card-header">
                    <h4 style="text-align: center; margin: 0px 0px 0px;" class="title">הלוואות פעילות </h4>
                </header>
                <div class="filter-content text-right">
                    <div class="boxes">
                        <input type="checkbox" id="box-1">
                        <label style="right: 18px;" for="box-1">הצג את ההלוואות הפעילות</label>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="col-9">
            <ul style="padding-right: 0px" *ngFor="let loan of loanerToDisplay.slice().reverse()">
                <li class="list" data-name="JoeBrown">
                    <div class="list__profile">
                        <img class="pull-left img-circle nav-user-photo" width="90"
                            src="../../../assets/img//faces/face-0.jpg" />  
                        <div class="list__label">
                            <div class="list__label--header"> {{loan.user.firstName}} {{loan.user.lastName}}</div>
                            <div class="list__label--value"> - {{loan.loaner.sum}} סכום הלוואה: </div>
                            <div class="list__label--value"> {{loan.loanPaymantsStatus.sumPadeUp}}סכום ששולם: </div>
                            <div class="list__label--value"> {{loan.loanPaymantsStatus.rest}}סכום שנותר: </div>
                           
                        </div>
                        <div>
                            <button class='searchBtn' type="button" (click)="editDetails(loan)">ערוך פרטים </button>
                            <button class='searchBtn' type="button" (click)="openPopup(loan)">מחק הלוואה </button>
                        </div>
                    </div>
                </li>
            </ul>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div style="padding-top: 4px; padding-right: 4px; border-bottom: none;" class="modal-header">
                <button style="float: right; font-weight: bold; background-color: transparent;
                border: none;" class="modal-title" (click)="closePopup()">x</button>
            </div>
            <div style="padding-top: 17px; padding-right: 30px; padding-bottom: 0px;" class="modal-body">
                <p style="float: right; margin-top: 0; margin-bottom: 1rem;"> האם אתה בטוח שברצונך למחוק את הלוואה זו לצמיתות?</p>
            </div>
            <div style="border-top: none;" class="modal-footer">
                <button style="background-color: #f1d57e; border-color: #e7d35d ;width: 87px; margin-right: 18px" type="button" class="searchBtn" (click)="closePopup()">
                    ביטול
                </button>
                <button style="width: 87px; margin-right: 18px;" type="button" class="searchBtn" (click)="deleteLoan()">
                    אישור
                </button>
            </div>
        </div>
    </div>
</div>
<p-dialog *ngIf="loaner" header={{loaner.user.firstName}} [(visible)]="display" modal="modal" [style]="{width: '350px'}"
    [responsive]="true">
    <span>
        <app-loaner-detailes [loaner]="loaner"></app-loaner-detailes>
     
        <button type="button" pButton (click)="getPaymentsForLoan(loaner.user.id)"
            label="צפה בתשלומים שנכנסו עבור הלוואה זו"></button>
        <button type="button" pButton (click)="getGuarantiesForLoan()" label="ערבים"></button>
     
        <button type="button" (click)="selectedPayment=null" pButton icon="pi pi-times"
            label="Clear Selected Car"></button> -->
        <p-orderList *ngIf="loaner.payments" [value]="loaner.payments">
            <ng-template let-payment pTemplate="item">
                <div class="ui-helper-clearfix">
                    <div style="font-size:14px;float:right;margin:15px 5px 0 0">
                        {{payment.collectionSum}} - {{payment.paymentDate}} - {{payment.inputDate}} </div>
                </div>
            </ng-template>
        </p-orderList>
        <p-orderList *ngIf="loaner.guaranty" [value]="loaner.guaranty" id="guarantysCo">
            <ng-template let-guaranty pTemplate="item">
                <div class="ui-helper-clearfix">
                    <div style="font-size:14px;float:right;margin:15px 5px 0 0">
                        {{guaranty.user.firstName}} - {{guaranty.user.lastName}} - {{guaranty.user.telephone1}} -
                        {{guaranty.user.email}} </div>
                </div>
            </ng-template>
        </p-orderList>
    </span>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-times" (click)="display=false" label="אישור"></button>
        </div>
    </p-footer>
</p-dialog>