.adbox-img {
    padding:8px;
    border-bottom: 1px solid #fffdfd;
    background-color : #f2f2f2;
}
.adbox-img img {
  border: 1px solid #e5e5e5;
}
/* Top Filter Box */
.tfilter-box {
    padding:15px 0px 15px 0px;
    border: 1px solid #e5e5e5;
    background-color : #ffff;
    z-index:1000;
    border-radius: 5px;
    width: 87%;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.16);
    margin-right: 3px;

}

.form-control, select {
    display: block;
    width: 100%;
    height: 48px;
    border: 1px solid #ededed;
    border-radius: 0;
    background-color: #fff;
    background-image: none;
    box-shadow: none;
    color: #000;
    font-size: 14px;
    line-height: 1.42857143;
}
/******************** CARD CSS *******************/
.card {
    background: #fff none repeat scroll 0 0;
    /* box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.16); */
    margin-bottom: 30px;
    overflow: hidden;
    display: block;
    /* width: 250px; */
    position: relative;
    border: 1px  #e5e5e5;
    /* padding-left: 0px; */
    margin-top: 10px;
}
body  > div > div.main-panel > div.wrapper > aside > div{
  width: 250px;
}

/* .card:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);} */
.card-block {
    padding: 15px 15px 0 15px;
    background: #fff none repeat scroll 0 0;
}
.card-img {
    border-radius: 0px 0px 0 0;
    max-height: 180px;
    overflow: hidden;
}
.card-footer {
    background: #fff none repeat scroll 0 0;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    padding:5px 0px 5px 5px;
}
.card-bid-btn {
    display: inline-block;
    margin-top: 8px;
    padding-left: 14px;
    margin-bottom: 0;
}
.card-footer ul li a {
    border-left: 1px solid #e5e5e5;
    display: block;
    height: inherit;
    margin-top: 8px;
    text-align: center;
    width: 30px;
    padding-left:5px;
}
.card-footer ul li a:hover {background:#dd0000;}

/* VARIABLES ==================== */
/* BASE ==================== */
@import "https://fonts.googleapis.com/css?family=Open+Sans";
body {
  margin: 0;
  /* font-family: 'Open Sans', sans-serif; */
  background-color: #e0e0e0;
  text-align: right;
}

body ul {
  padding: 0;
  list-style-type: none;
}

img {
  width: 75px;
  margin: 7px 5px 5px 5px;
  border-radius: 5px;
}

button {
  border: none;
  font-size: 1em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
button:focus {
  outline: 0;
}

/* LAYOUT ==================== */
.l-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #242D33;
}
.l-nav__container, .l-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  /* max-width: 980px; */
  margin: 0 auto;
}
@media screen and (max-width: 1050px) {
  .l-nav__container, .l-container {
    width: 100%;
  }
}
.l-nav__button {
  color: #e0e0e0;
  background-color: #3392CC;
  padding: 10px;
  text-align: center;
  width: 30%;
  border-radius: 5px;
}
.l-nav__button:hover {
  background-color: #2e83b8;
  color: white;
}

.l-container {
  display: block;
  /* padding-top: 115px; */
  margin: 0px;
  width: 100%;
}
body > app-root > div > div.main-panel > app-loans > div.wrapper > aside > div > article:nth-child(1) > header > h6{
  font-size: larger;
}
.title{
  font-size:medium;
  
}
/* MODULE ==================== */
.list {
  width:80%;
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  background-color: white;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
  /* -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
}
.list:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 5px 8px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
.list__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.list__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.list__photos img {
  width: 100px;
}
@media screen and (max-width: 400px) {
  .list__photos img {
    width: 75px;
  }
}
.list__label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}
.list__label--header {
  color: #9a9a9a;
}
.list__label--value {
  font-size: 1.3em;
}
@media screen and (max-width: 650px) {
  .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .list__profile {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px;
  }
  .list__label {
    width: 170px;
  }
  .list__photos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* STATE ==================== */
.is-list-selected {
  background: #cb2d3e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #cb2d3e, #ef473a);
  background: -webkit-linear-gradient(left, #cb2d3e, #ef473a);
  background: linear-gradient(to right, #cb2d3e, #ef473a);
  color: white;
}

.wrapper {
	display: grid;
	grid-template-areas:
    "header header "
    "aside section ";
	/* grid-template-rows: 80px 1fr 50px; */
  grid-template-columns: 320px auto ;
	/* grid-gap: 10px; */
  /* height: 360px; */
  direction: rtl;
}
  
.l-container {

padding-right: 0px;
padding-left: 0px;}

header {
    grid-area: header;
}

section {
    grid-area: section;   
}

aside {
    grid-area: aside;
    width: 100px;
}
/* 
.mat-h6, .mat-typography h6 {
  font: 400 calc(14px * .67)/20px Roboto,"Helvetica Neue",sans-serif;
  margin: 0 0 0px;
  padding: inherit;
} */
.body > app-root > div > div.main-panel > app-loans > div.wrapper > aside > div > article:nth-child(1) > header > h6{
  margin: 0 0 0px;
  padding: inherit;
}

::ng-deep .ui-calendar .ui-calendar-button {
  height: 34px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 900em;
  border-left: 0 none;
}

/* body > app-root > div > div.main-panel > app-loans > p-calendar > span > input{
  width: 900em;
} */
/* .ui-datepicker-calendar{
  width: 150px;
  height: 150px;
} */
/* .ui-datepicker {
  width: 150px;
  height: 150px;
} */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*Page styles*/

body {
  height: 100%;
  margin: 0;
  background: #fff;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.boxes {
  margin: auto;
  padding: 30px;
  background: #fff;
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: inline-flex;
  position: relative;
  padding-left: 15px;
  margin-bottom: 20px;
  margin: 0px 15px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #000;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #ef473a;
  position: absolute;
  margin: 0px -30px;
  left: 100;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 100;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn-purple-moon {
  background: #4e54c8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: 3px solid #eee;
  font-size: 1.5rem;

}
:host ::ng-deep .p-button {
  margin: 0 .5rem 0 0;
  min-width: 10rem;
}

p {
  margin: 0;
}
.customDialog {
  background-color: red;
}
.confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
  min-width: 6rem;
}

body  > div > div.main-panel  > div > div{
  width: auto !important;
  background-color: #cb2d3e;
}

/* body{
  background:#f5f5f5;
  margin-top:20px;} */

/* ===== Career ===== */
.career-form {
background-color: #4e63d7;
border-radius: 5px;
padding: 0 16px;
}

.career-form .form-control {
background-color: rgba(255, 255, 255, 0.2);
border: 0;
padding: 12px 15px;
color: #fff;
}

.career-form .form-control::-webkit-input-placeholder {
/* Chrome/Opera/Safari */
color: #fff;
}

.career-form .form-control::-moz-placeholder {
/* Firefox 19+ */
color: #fff;
}

.career-form .form-control:-ms-input-placeholder {
/* IE 10+ */
color: #fff;
}

.career-form .form-control:-moz-placeholder {
/* Firefox 18- */
color: #fff;
}

.career-form .custom-select {
background-color: rgba(255, 255, 255, 0.2);
border: 0;
padding: 12px 15px;
color: #fff;
width: 100%;
border-radius: 5px;
text-align: left;
height: auto;
background-image: none;
}

.career-form .custom-select:focus {
-webkit-box-shadow: none;
        box-shadow: none;
}

.career-form .select-container {
position: relative;
}

.career-form .select-container:before {
position: absolute;
right: 15px;
top: calc(50% - 14px);
font-size: 18px;
color: #ffffff;
content: '\F2F9';
font-family: "Material-Design-Iconic-Font";
}

.filter-result .job-box {
-webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
        box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
border-radius: 10px;
padding: 10px 35px;
}

ul {
list-style: none; 
}

.list-disk li {
list-style: none;
margin-bottom: 12px;
}

.list-disk li:last-child {
margin-bottom: 0;
}

.job-box .img-holder {
height: 65px;
width: 30px;
background-color: #4e63d7;
background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #5a85dd 100%);
font-family: "Open Sans", sans-serif;
color: #fff;
font-size: 22px;
font-weight: 700;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
border-radius: 65px;
}

.career-title {
background-color: #4e63d7;
color: #fff;
padding: 15px;
text-align: center;
border-radius: 10px 10px 0 0;
background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #5a85dd 100%);
}

.job-overview {
-webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
        box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
border-radius: 10px;
}

@media (min-width: 992px) {
.job-overview {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
}
}

.job-overview .job-detail ul {
margin-bottom: 28px;
}

.job-overview .job-detail ul li {
opacity: 0.75;
font-weight: 600;
margin-bottom: 15px;
}

.job-overview .job-detail ul li i {
font-size: 20px;
position: relative;
top: 1px;
}

.job-overview .overview-bottom,
.job-overview .overview-top {
padding: 35px;
}

.job-content ul li {
font-weight: 600;
opacity: 0.75;
border-bottom: 1px solid #ccc;
padding: 10px 5px;
}

@media (min-width: 768px) {
.job-content ul li {
  border-bottom: 0;
  padding: 0;
}
}

.job-content ul li i {
font-size: 20px;
position: relative;
top: 1px;
}
.mb-30 {
  margin-bottom: 30px;
}
.ui-dialog-titlebar-close span {
    display:none!important;
}
