<div style="direction: rtl;">
    <div class="userDetails">
        <div class="userName">
            {{_paymentUser.user.firstName}} {{_paymentUser.user.lastName}}
        </div>
        <div class="userPhone">
            {{_paymentUser.user.telephoneNumber}} | {{_paymentUser.user.cellphoneNumber}}
        </div>
        <div class="userEmail">
            <a class="userEmail" href="mailto:{{_paymentUser.user.email}}">{{_paymentUser.user.email}}</a>
        </div>
    </div>

</div>
<form [formGroup]="paymentDetailesForm" style="direction: rtl;">
    <div class="row loanSumDiv">
        
        <div class="form-group" style="margin: 0;">
            <label class="loanSumLable"> סכום הלוואה :</label>
        </div>
        <div class="form-group" style="margin: 0;">
            <label class="loanSumLable"> {{_paymentUser.loan.sum}}</label>
        </div>

        <label *ngIf="_paymentUser.loan.currencyId==1" class="loanSumLable" style="padding-left: 10px;"> ש"ח </label>
        <label *ngIf="_paymentUser.loan.currencyId==3" class="loanSumLable"  style="padding-left: 10px;"> $ </label>

        <div class="form-group" style="margin: 0;">
            <label class="loanSumLable"> סכום תשלום חודשי :</label>
        </div>
        <div class="form-group" style="margin: 0;">
            <label class="loanSumLable"> {{_paymentUser.loan.monthlyPaymentSum}}</label>
        </div>

        <label *ngIf="_paymentUser.loan.currencyId==1" class="loanSumLable"> ש"ח </label>
        <label *ngIf="_paymentUser.loan.currencyId==3" class="loanSumLable"> $ </label>

    </div>
    <div class="row rowSum">
        <div class="sumDiv">
            <input formControlName="sum" id="sum" type="text" pInputText>
        </div>
        <div class="form-group" style="margin: 0;">
            <select id="currency" class="currency" formControlName="currencyId" class="form-control">
                <option class="currencyOption" value=1>
                    ש"ח
                </option>
                <option class="currencyOption" value=3 selected="selected">
                    $
                </option>
            </select>
        </div>
    </div>
    <!-- <div class="row">
        <div class="form-group" style="margin: 0;">
            <select id="typeId" class="typeId" formControlName="typeId" class="form-control">
                <option value=1>
                   פרעון הלוואה
                </option>
                <option value=3 selected="selected">
                    פקדון
                </option>
            </select>
        </div> 

    </div> -->

    <div class="row paymentManerDiv">
        <div class="form-group bankDPMDiv">
            <label class="bankDPM"> אופן תשלום:</label>
        </div>

        <div class="form-group" style="margin: 0;">

            <select id="methodId" class="methodId" formControlName="methodId" class="form-control">
                <option value=1>
                    מזומן
                </option>

                <option value=2>
                    הוראת קבע
                </option>
                <!-- <option value=3>
                        אשראי
                    </option> -->
                <option value=4>
                    המחאה
                </option>
            </select>
        </div>

    </div>
    <div *ngIf="paymentDetailesForm.controls['methodId'].value==2">
        <div class="row form-group bankPD">
            <label class="bankDetailsLable"> בנק:</label>
            <input class="bankD" formControlName="bankId" id="bankId" type="text" pInputText>
            <label class="bankDetailsLable"> סניף:</label>
            <input class="bankD" formControlName="branchNumberId" id="branchNumberId" type="text" pInputText>
            <label class="bankDetailsLable"> מספר חשבון:</label>
            <input class="bankD" formControlName="accountNumber" id="accountNumber" type="text" pInputText>
        </div>
    </div>
    <div class="row paymentDateDiv">
        <div class="form-group" style="margin: 6px;">
            <label class="bankDPM"> תאריך תשלום:</label>
        </div>
        <div class="form-group" style="margin: 0;">
            <input formControlName="paymentDate" id="paymentDate" type="date">
        </div>

    </div>
    <div class="row paymentDateDiv">
        <div class="form-group" style="margin: 7px;">
            <label class="bankDPM"> שולם בפועל:</label>
        </div>
        <div class="form-group" style="margin: 0;">
            <input formControlName="inputDate" id="inputDate" type="date">
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 pr-1">
            <div class="form-group" style="padding: 13px;">
                <label for="comments" class="fileLabel">הערות</label>
                <textarea class="form-control textarea" formControlName="comments" id="comments" type="text"
                    class="form-control" placeholder="הוסף הערה לתשלום..."></textarea>
            </div>
        </div>

    </div>
    <a class="linkUser" [routerLink]="['/editUserDetails/' ,_paymentUser.user.id]" data-dismiss="modal">לפרטי המשתמש המלאים</a>
    <!-- 
    <button (click)="editDetails()">עדכן פרטים</button> -->
</form>