<div style="direction: rtl;">
    <div class="userDetails">
        <div class="userName">
            {{_paymentUser.user.firstName}} {{_paymentUser.user.lastName}}
        </div>
        <div class="userPhone">
            {{_paymentUser.user.telephoneNumber1}} | {{_paymentUser.user.telephoneNumber2}}
        </div>
        <div class="userEmail">
            <a class="userEmail" href="mailto:{{_paymentUser.user.email}}">{{_paymentUser.user.email}}</a>
        </div>
    </div>

</div>
<form [formGroup]="paymentDetailesForm" style="direction: rtl;">
    <div class="row rowSum">
        <div class="sumDiv">
            <input formControlName="collectionSum" id="collectionSum" type="text" pInputText>
        </div>
        <div class="form-group" style="margin: 0;">
            <select id="currency" class="currency" formControlName="currencyId" class="form-control">
                <option class="currencyOption" value=1>
                    ש"ח
                </option>
                <option class="currencyOption" value=3 selected="selected">
                    $
                </option>
            </select>
        </div>
    </div>

    <div class="row paymentManerDiv">
        <div class="form-group bankDPMDiv">
            <label class="bankDPM"> אופן תשלום:</label>
        </div>

        <div class="form-group" style="margin: 0;">

            <select id="paymentMethodId" class="paymentMethodId" formControlName="paymentMethodId" class="form-control">
                <option value=1>
                    מזומן
                </option>

                <option value=2>
                    הוראת קבע
                </option>
                <!-- <option value=3>
                        אשראי
                    </option> -->
                <option value=4>
                    המחאה
                </option>
            </select>
        </div>

    </div>
    <div *ngIf="paymentDetailesForm.controls['paymentMethodId'].value==2">
        <div class="row form-group bankPD">
            <label class="bankDetailsLable"> בנק:</label>
            <input class="bankD" formControlName="bankId" id="bankId" type="text" pInputText>
            <label class="bankDetailsLable"> סניף:</label>
            <input class="bankD" formControlName="branchNumberId" id="branchNumberId" type="text" pInputText>
            <label class="bankDetailsLable"> מספר חשבון:</label>
            <input class="bankD" formControlName="accountNumber" id="accountNumber" type="text" pInputText>
        </div>
    </div>
    <div class="row paymentManerDiv" >
        <div class="form-group bankDPMDiv" style="margin: 0;">
            <label class="bankDPM"> תאריך תשלום:</label>
        </div>
        <div class="form-group" style="margin: 0;">
            <input  formControlName="paymentDate" id="paymentDate" type="date">
        </div>
        <div class="form-group bankDPMDiv" style="margin: 0;">
            <label class="bankDPM">  שולם בפועל:</label>
        </div>
        <div class="form-group" style="margin: 0;">
            <input  formControlName="inputDate" id="inputDate" type="date">
        </div>

    </div>
    <!-- 


    <div class="p-field p-grid">
        <label for="comments" class="p-col-fixed" style="width:100px">הערות</label>
        <div class="p-col">
            <input formControlName="comments" id="comments" type="text" pInputText>
        </div>
    </div>

    <div class="p-field p-grid">
        <label for="hebrewPaymentDate" class="p-col-fixed" style="width:100px">תאריך תשלום עברי</label>
        <div class="p-col">
            <input formControlName="hebrewPaymentDate" id="hebrewPaymentDate" type="text" pInputText>
        </div>
    </div>

    <div class="p-field p-grid">
        <label for="paymentDate" class="p-col-fixed" style="width:100px">תאריך תשלום</label>
        <div class="p-col">
            <input formControlName="paymentDate" id="paymentDate" type="text" pInputText>
        </div>
    </div>

    <div class="p-field p-grid">
        <label for="inputDate" class="p-col-fixed" style="width:100px">תאריך קלט</label>
        <div class="p-col">
            <input formControlName="inputDate" id="inputDate" type="text" pInputText>
        </div>
    </div>

    <div class="p-field p-grid">
        <label for="deleted" class="p-col-fixed" style="width:100px"> האם התשלום קיים?</label>
        <div class="p-col">
            <p-checkbox [formControl]="paymentDetailesForm.controls['deleted']" [binary]="true" id="deleted">
            </p-checkbox>
        </div>
    </div>
    <button (click)="editDetails()">עדכן פרטים</button> -->
</form>