
<div class="card card-user">
    <div class="title">
        <label class="card-title   mainTitle"> תשלום חדש</label>
    </div>
    <div>
        <label style="font-size: 15px; color: black;margin: 7px;" class="comment">שדות המסומנים בכוכבית (*) הם
            שדות
            חובה
        </label>
    </div>
    <div class="subTitleDiv"></div>
    <div class="card-body">
        <form [formGroup]="PaymentDetailesForm">
            <div class="row formRow">
                <div class="col-md-3 pr-1">
                    <div class="form-group">
                        <label for="sum" class="fileLabel required">סכום </label>
                        <input formControlName="sum" id="sum" type="number" class="form-control" required>
                        <div class="validate"
                            *ngIf="(PaymentDetailesFormControl.sum.invalid && (PaymentDetailesFormControl.sum.dirty || PaymentDetailesFormControl.sum.touched || formSubmitAttempt)) && PaymentDetailesFormControl.sum.errors.required ">
                            <div>
                                זהו שדה חובה
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pr-1">
                    <div class="form-group">
                        <label for="currency" class="fileLabel currency required">מטבע</label>
                        <select formControlName="currencyId" class="form-control" style="cursor: pointer" required>
                            <option value=1>
                                שקל
                            </option>
                            <option value=3 selected="selected">
                                דולר
                            </option>
                        </select>

                    </div>
                </div>

                <div class="col-md-3 pr-1">
                    <div class="form-group">
                        <label for="inputDate" class="fileLabel required">תאריך </label>
                        <input formControlName="inputDate" id="inputDate" type="date" class="form-control" required>
                        <div class="validate"
                            *ngIf="(PaymentDetailesFormControl.inputDate.invalid && ( PaymentDetailesFormControl.inputDate.dirty ||  PaymentDetailesFormControl.inputDate.touched || formSubmitAttempt)) &&  PaymentDetailesFormControl.inputDate.errors.required ">
                            <div>
                                זהו שדה חובה
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 px-1">
                    <div class="form-group">
                        <label for="hebrewPaymenteDate" class="  fileLabel">תאריך עברי</label>
                        <input type="text" formControlName="hebrewPaymenteDate" class="form-control"
                            id="hebrewPaymenteDate">
                    </div>
                </div>
            </div>
        </form>
        <form [formGroup]="PaymentDetailesUserForm">
            <div class="row formRow row2">
                <div class="col-md-3 pr-1">
                    <div class="form-group">
                        <label for="identityNumber" class="  fileLabel required">ת"ז/דרכון</label>
                        <input formControlName="identityNumber" (blur)="checkUserForDeposite($event)"
                            id="identityNumber" type="number" class="form-control" required>
                        <div *ngIf="(PaymentDetailesUserFormControl.identityNumber.invalid && ( PaymentDetailesUserFormControl.identityNumber.dirty ||  PaymentDetailesUserFormControl.identityNumber.touched || formSubmitAttempt)) &&  PaymentDetailesUserFormControl.identityNumber.errors.required  "
                            class="validate">
                            <div>
                                זהו שדה חובה
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pr-1">
                    <div class="form-group">
                        <label for="firstName" class="fileLabel required">שם פרטי</label>
                        <input formControlName="firstName" id="firstName" type="text" class="form-control" required>

                        <div *ngIf="(PaymentDetailesUserFormControl.firstName.invalid && (PaymentDetailesUserFormControl.firstName.dirty ||  PaymentDetailesUserFormControl.firstName.touched || formSubmitAttempt)) &&  PaymentDetailesUserFormControl.firstName.errors?.required "
                            class="validate">
                            <div>זהו שדה חובה</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pr-1">
                    <div class="form-group">
                        <label for="lastName" class="fileLabel required">שם משפחה</label>
                        <input formControlName="lastName" id="lastName" type="text" class="form-control" required>
                        <div class="validate"
                            *ngIf="(PaymentDetailesUserFormControl.lastName.invalid && (PaymentDetailesUserFormControl.lastName.dirty ||  PaymentDetailesUserFormControl.lastName.touched || formSubmitAttempt)) &&  PaymentDetailesUserFormControl.lastName.errors?.required ">
                            <div>
                                זהו שדה חובה
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form [formGroup]="PaymentDetailesForm">
            <div class="row formRow">
                <div class="col-md-12 pr-1">
                    <div class="form-group">
                        <label for="comments" class="fileLabel">הערות</label>
                        <textarea class="form-control textarea" formControlName="comments" id="comments" type="text"
                            class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </form>

        <div class="row formRow">
            <div class="fileLabel"></div>
            <button type="button" pButton (click)="save()" class="saveBtn">שמור</button>
        </div>
    </div>
</div>




<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button class="modal-title" (click)="closePopup()">x</button>
        </div>
        <div class="modal-body">
            <p class="pmodal"> {{modalMessage}}</p>
        </div>
        <div style="border-top: none;" class="modal-footer">
          <button type="button" class="searchBtn searchBtn1" (click)="closePopup()"> אישור</button>
        
        </div>
      </div>
    </div>
  </div>