<p>edit-user works!</p>
<form [formGroup]="userDetailesForm" >
    <div class="p-field p-grid">
        <label for="firstname" class="p-col-fixed" style="width:100px">שם פרטי</label>
        <div class="p-col">
            <input formControlName="firstName" id="firstname" type="text" pInputText> 
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="lastname" class="p-col-fixed" style="width:100px">שם משפחה</label>
        <div class="p-col">
            <input formControlName="lastName" id="lastname" type="text" pInputText> 
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="password" class="p-col-fixed" style="width:100px">שם משתמש</label>
        <div class="p-col">
            <input formControlName="password" id="password" type="text" pInputText> 
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="userName" class="p-col-fixed" style="width:100px">טלפון</label>
        <div class="p-col">
            <input formControlName="userName" id="userName" type="text" pInputText> 
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="identityNumber" class="p-col-fixed" style="width:100px">מייל</label>
        <div class="p-col">
            <input formControlName="identityNumber" id="identityNumber" type="text" pInputText> 
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="email" class="p-col-fixed" style="width:100px">מייל</label>
        <div class="p-col">
            <input formControlName="email" id="email" type="text" pInputText> 
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="address" class="p-col-fixed" style="width:100px">כתובת</label>
        <div class="p-col">
            <input formControlName="address" id="address" type="text" pInputText> 
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="city" class="p-col-fixed" style="width:100px">סכום</label>
        <div class="p-col">
            <input formControlName="city" id="city" type="text" pInputText> 
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="telephoneNumber1" class="p-col-fixed" style="width:100px">סכום</label>
        <div class="p-col">
            <input formControlName="telephoneNumber1" id="telephoneNumber1" type="text" pInputText> 
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="telephoneNumber2" class="p-col-fixed" style="width:100px">סכום</label>
        <div class="p-col">
            <input formControlName="telephoneNumber2" id="telephoneNumber2" type="text" pInputText> 
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="comments" class="p-col-fixed" style="width:100px">סכום</label>
        <div class="p-col">
            <input formControlName="comments" id="comments" type="text" pInputText> 
        </div>
    </div>
    </form>