/* .wrapper{
   
    display: grid;
    grid-template-areas:
    "sidebar sidebar sidebar"
    "main-panel main-panel main-panel";
    grid-template-rows: 10% 90%;
    grid-template-columns: 10% 90%;
  
} */
p{
    font-size: 16px;
}
.sidebar {
    /* background-color: blue; */
    grid-area: sidebar;
    position: absolute;
    direction: rtl;
    /* height: 70px; */
    /* top:0px */
}

.main-panel {
    height: 600px;
    /* background-color: blueviolet; */
    grid-area: main-panel;
}
