<!-- <p>admin-layout works!</p>
<div class="wrapper" >
    <div  class="sidebar" >
        <app-admin class="pppp"></app-admin>
        <p-tabMenu [model]="items3" >
        </p-tabMenu>  
    </div>
    <div class="main-panel">
       <app-daily-activity *ngIf="selectedItem==0"></app-daily-activity>
       <app-deposites *ngIf="selectedItem==2"></app-deposites>
       <app-loans *ngIf="selectedItem==1"></app-loans>
       <app-payments *ngIf="selectedItem==4"></app-payments>
       <app-users *ngIf="selectedItem==3"></app-users>  
    </div> 
    <button type="button" (click)="newLoan()">הלוואה חדשה </button>
</div> -->
