<div class="wrapper">
  <p-sidebar [style]="{height:'4em'}" [(visible)]="display" [modal]=false [showCloseIcon]=false position="top"
    [baseZIndex]="-1">
    <ul class="nav ">
      <li class="nav-item ">
        <a class="nav-link " [routerLink]="['homePage']" [routerLinkActive]="['active']" aria-current="page"
          href="/homePage">פעילות יומית</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['loans']" [routerLinkActive]="['active']" href="/loans">הלוואות</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['payments']" [routerLinkActive]="['active']" href="/payments">תשלומים</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['deposites']" [routerLinkActive]="['active']" href="/deposites">פקדונות</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['users']" [routerLinkActive]="['active']" href="/users">משתמשים</a>
      </li>
    </ul>

    <div class="mainCard">
      <button class='actionBtn' type="button" (click)="newLoan()">הלוואה חדשה </button>
      <button class='actionBtn' type="button" (click)="newDeposite()">הפקדה חדשה </button>
      <button class='actionBtn' type="button" (click)="newPayment()">החזר חוב </button>
    </div>
  </p-sidebar>

  <div class="main-panel">
    <router-outlet>
    </router-outlet>
  </div>
</div>
