.p-tabMenuId{
    float: right;
    width: 100%;
    display: flex;
    box-shadow: 0 1px 6px rgb(0 0 0 / 16%);
}
.header-menu{
    background-color: #ffffffc9;

    float: right;
    width: 100%;
    display: flex;
    box-shadow: 0 1px 6px rgb(0 0 0 / 16%);
    direction: rtl;
}
.main-panel {
    direction: rtl;
    position: relative;
    top: 50px;
    background-color:#f4f4f4;
}
.wrapper{
   direction: rtl;
   background-color:#f4f4f4;
   height: 100%;
}
.nav>li>a {
    color: #2f2f94;
    
}
.mainCard{
    background-color: transparent !important;
    border: none !important;
    position: absolute;
    top: 0.5rem;
    left: 0px;
    
}
.actionBtn{
    width: 105px;
    height: 36px;
    border: none;
    border-radius: 5px;
    background-color: #5f5f9a;
    margin-left: 5px;
    color: white;
    margin-right: 8px;
}
.actionBtn:hover {
    background-color: #4e4e91a8;
}
.nav>li>a:focus {
    /* height: 4em; */
    background-color: #5f5f9ad4 !important;
    color: white;
    height: 4.7rem;
    /* top: -9px; */
    /* padding-top: 15px; */
}
.nav>li>a:hover{
    background-color: #5f5f9a8a;
    color: white;
    height: 4.7rem;
}
a.nav-link.active {
    background-color: #5f5f9ad4;
    color: white !important;
    height: 4.7rem;
}
.nav-link{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
} 
.nav{
    padding-right: 0px;
}
::-webkit-scrollbar {
    width: 0px;
  } 
  button{
      cursor: pointer;
  }