.p-tabMenuId{
    float: right;
    width: 100%;
    display: flex;
    box-shadow: 0 1px 6px rgb(0 0 0 / 16%);
}
.header-menu{
    float: right;
    width: 100%;
    display: flex;
    box-shadow: 0 1px 6px rgb(0 0 0 / 16%);
}
.main-panel {
    direction: rtl;
    position: relative;
    top: 43px;
}
.wrapper{
   direction: rtl;
   overflow: hidden;
}
.nav>li>a {
    color: #2f2f94;
}
.mainCard{
    background-color: transparent !important;
    border: none !important;
    position: absolute;
    top: 6px;
    left: 0px;
}
.actionBtn{
    width: 105px;
    height: 27px;
    border: none;
    border-radius: 5px;
    background-color: #5f5f9a;
    margin-left: 5px;
    color: white;
    margin-right: 8px;
}