.p-tabMenuId{
    float: right;
    width: 100%;
    display: flex;
    box-shadow: 0 1px 6px rgb(0 0 0 / 16%);
}
.header-menu{
    float: right;
    width: 100%;
    display: flex;
    box-shadow: 0 1px 6px rgb(0 0 0 / 16%);
    direction: rtl;
}
.main-panel {
    direction: rtl;
    position: relative;
    top: 50px;
}
.wrapper{
   direction: rtl;
   background-color:#f4f4f4;
   height: 100%;
}
.nav>li>a {
    color: #2f2f94;
}
.mainCard{
    background-color: transparent !important;
    border: none !important;
    position: absolute;
    top: 9px;
    left: 0px;
}
.actionBtn{
    width: 105px;
    height: 36px;
    border: none;
    border-radius: 5px;
    background-color: #5f5f9a;
    margin-left: 5px;
    color: white;
    margin-right: 8px;
}
.actionBtn:hover {
    background-color: #4e4e91a8;
}
.nav>li>a:hover, .nav>li>a:focus {
    /* height: 4em; */
    background-color: #5f5f9ad4 !important;
    color: white;
    /* top: -9px; */
    /* padding-top: 15px; */
}
/* .nav>li>a:active{
    background-color: #5f5f9ad4 !important;
} */
/* .nav>li>a{
    height: 46px;
} */
a.nav-link.active {
    background-color: #5f5f9ad4;
    color: white !important;
}
::-webkit-scrollbar {
    width: 0px;
  } 
  button{
      cursor: pointer;
  }