label {
  float: right;
  padding-right: 3px;
  font-weight: 500;
}
section {
  background-image: linear-gradient(
    to left,
    rgb(246 173 6 / 61%),
    rgb(253 214 34 / 76%)
  ) !important;
}

.buttons {
  display: flex;
}
.btn {
  background-color: #5f5f9a;
  border-color: #5f5f9a;
  width: 49%;
  margin: 1%;
  margin-top: 0 !important;
}
.validate{
  color: red;
}