<app-success-alert *ngIf="success" (close)="close()" [details]="massege"></app-success-alert>
<div class="card card-user">
    <div class="title">
        <label class="card-title mainTitle"> הפקדה חדשה</label>
    </div>
    <div>
        <label class="comment">שדות המסומנים בכוכבית (*) הם שדות חובה</label>
    </div>
    <div class="subTitleDiv"></div>
    <div class="card-body">
        <form [formGroup]="DepositorDetailesDepositeForm" style="direction: rtl;">
            <div class="row formRow">
                <div class="col-md-3 pr-1">
                    <div class="form-group">
                        <label for="sum" class="  fileLabel required">סכום להפקדה</label>
                        <input formControlName="sum" id="sum" type="number" class="form-control" required>
                        <div class="validate"
                            *ngIf="(DepositorDepositeFormControl.sum.invalid && (DepositorDepositeFormControl.sum.dirty || DepositorDepositeFormControl.sum.touched || formSubmitAttempt)) && DepositorDepositeFormControl.sum.errors.required ">
                            זהו שדה חובה
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pr-1">
                    <div class="form-group">
                        <label for="currency" class="fileLabel currency required">מטבע</label>
                        <select formControlName="currencyId" class="form-control" style="cursor: pointer"  required>
                            <option value=1> שקל</option>
                            <option value=3 selected="selected"> דולר</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 pr-1">
                    <div class="form-group">
                        <label for="date" class="  fileLabel required">תאריך הפקדה</label>
                        <input formControlName="date" id="date" type="date" class="form-control"
                            required>
                        <div class="validate"
                            *ngIf="(DepositorDepositeFormControl.date.invalid && (DepositorDepositeFormControl.date.dirty || DepositorDepositeFormControl.date.touched || formSubmitAttempt)) && DepositorDepositeFormControl.date.errors.required ">
                            זהו שדה חובה
                        </div>
                    </div>
                </div>
                <div class="col-md-3 px-1">
                    <div class="form-group">
                        <label for="hebrewDate" class="  fileLabel">תאריך הפקדה עברי</label>
                        <input type="text" formControlName="hebrewDate" class="form-control"
                            id="hebrewDate">
                    </div>
                </div>
            </div>
        </form>
        <form [formGroup]="DepositorDetailesUserForm" style="direction: rtl;">
            <div class="row formRow row2">
                <div class="col-md-3 pr-1">
                    <div class="form-group">
                        <label for="identityNumber" class="  fileLabel required">ת"ז/דרכון</label>
                        <input formControlName="identityNumber" (blur)="checkUserForDeposite($event)"
                            id="identityNumber" type="string" class="form-control" required>
                        <div class="validate"
                            *ngIf="(DepositorUserFormControl.identityNumber.invalid && (DepositorUserFormControl.identityNumber.dirty || DepositorUserFormControl.identityNumber.touched || formSubmitAttempt)) && DepositorUserFormControl.identityNumber.errors.required">
                            זהו שדה חובה
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pr-1">
                    <div class="form-group">
                        <label for="firstName" class="  fileLabel required">שם פרטי</label>
                        <input formControlName="firstName" id="firstName" type="text" class="form-control" required>
                        <div *ngIf="(DepositorUserFormControl.firstName.invalid && (DepositorUserFormControl.firstName.dirty || DepositorUserFormControl.firstName.touched || formSubmitAttempt)) && DepositorUserFormControl.firstName.errors?.required "
                            class="validate">
                            זהו שדה חובה
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pr-1">
                    <div class="form-group">
                        <label for="lastName" class="  fileLabel required">שם משפחה</label>
                        <input formControlName="lastName" id="lastName" type="text" class="form-control" required>
                        <div class="validate"
                            *ngIf="(DepositorUserFormControl.lastName.invalid && (DepositorUserFormControl.lastName.dirty || DepositorUserFormControl.lastName.touched || formSubmitAttempt)) && DepositorUserFormControl.lastName.errors?.required ">
                            זהו שדה חובה
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pr-1">
                    <div class="form-group">
                        <label for="lastName" class="  fileLabel ">דואר אלקטרוני</label>
                        <input formControlName="email" id="email" type="email" class="form-control">
                        <div class="validate"
                            *ngIf="(DepositorUserFormControl.email.invalid && (DepositorUserFormControl.email.dirty || DepositorUserFormControl.email.touched || formSubmitAttempt)) && DepositorUserFormControl.email.errors?.email ">
                            כתובת דואר אלקטרוני לא תקינה
                        </div>
                    </div>
                </div>
            </div>
            <div class="row formRow">
                <div class="col-md-3 pr-1">
                    <div class="form-group">
                        <label for="address" class="fileLabel required">כתובת</label>
                        <input formControlName="address" id="address" type="text" class="form-control" required>
                        <div class="validate"
                            *ngIf="(DepositorUserFormControl.address.invalid && (DepositorUserFormControl.address.dirty || DepositorUserFormControl.address.touched || formSubmitAttempt)) && DepositorUserFormControl.address.errors?.required ">
                            זהו שדה חובה
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pr-1">
                    <div class="form-group">
                        <label for="cellphoneNumber" class="  fileLabel required">טל' נייד</label>
                        <input formControlName="cellphoneNumber" id="cellphoneNumber" type="string"
                            class="form-control" required>
                        <div class="validate"
                            *ngIf="(DepositorUserFormControl.cellphoneNumber.invalid && (DepositorUserFormControl.cellphoneNumber.dirty || DepositorUserFormControl.cellphoneNumber.touched || formSubmitAttempt)) && DepositorUserFormControl.cellphoneNumber.errors?.required ">
                            זהו שדה חובה
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pr-1">
                    <div class="form-group">
                        <label for="telephoneNumber" class="fileLabel">טלפון בית</label>
                        <input formControlName="telephoneNumber" id="telephoneNumber" type="string"
                            class="form-control">
                    </div>
                </div>
            </div>
        </form>
        <form [formGroup]="DepositorDetailesDepositeForm">
            <div class="row formRow">
                <div class="col-md-4 pr-1">
                    <div class="form-group">
                        <label for="returnDate" class="  fileLabel required">תאריך משיכת הפקדה</label>
                        <input formControlName="returnDate" id="returnDate" type="date" class="form-control" required>
                        <div class="validate"
                            *ngIf="(DepositorDepositeFormControl.returnDate.invalid && (DepositorDepositeFormControl.returnDate.dirty || DepositorDepositeFormControl.returnDate.touched || formSubmitAttempt)) && DepositorDepositeFormControl.returnDate.errors?.required">
                            זהו שדה חובה
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pr-1">
                    <div class="form-group">
                        <label for="hebrewReturnDate" class="fileLabel">תאריך משיכת הפקדה עברי</label>
                        <input formControlName="hebrewReturnDate" id="hebrewReturnDate" type="text"
                            class="form-control">
                    </div>
                </div>
            </div>
        </form>
        <form [formGroup]="DepositorDetailesUserForm">
            <div class="row formRow">
                <div class="col-md-12 pr-1">
                    <div class="form-group">
                        <label for="comments" class="fileLabel">הערות</label>
                        <textarea class="form-control textarea" formControlName="comments" id="comments" type="text"
                            class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </form>
        <div class="row formRow">
            <div class="fileLabel"></div>
            <button [disabled]="!disableSave()" type="button" pButton (click)="save()" class="saveBtn">שמור</button>
        </div>
    </div>
</div>
