<p>loaner-detailes works!</p>
<div style="direction: rtl;">
    <b>{{_loaner.user.firstName}} {{_loaner.user.lastName}}</b><br>
     {{_loaner.user.cellphoneNumber}} | {{_loaner.user.telephoneNumber}} <br>
    <a href="mailto:{{_loaner.user.email}}">לחץ כאן לשליחת מייל ללווה</a><br>
    <a [routerLink]="['/editUserDetails/' ,_loaner.user.id]">פרטי משתמש מלאים</a>
    <!-- <button [routerLink]="['/editUserDetails/' ,_loaner.user.id]" pButton type="button" label="פרטי המשתמש המלאים" icon="pi pi-user" iconPos="right" ></button> -->
</div>
<form [formGroup]="loanerDetailesForm" style="direction: rtl;">
  <div class="p-field p-grid">
    <label for="sum" class="p-col-fixed" style="width:100px">סכום הלוואה</label>
    <div class="p-col">
        <input formControlName="sum" id="sum" type="text" pInputText> 
    </div>
    </div>

    <div class="p-field p-grid">
        <label for="date" class="p-col-fixed" style="width:100px">תאריך הלוואה</label>
        <div class="p-col">
            <input formControlName="date" id="date" type="text" pInputText> 
        </div>
        </div>

    <div class="p-field p-grid">
    <label for="hebrewDate" class="p-col-fixed" style="width:100px">תאריך הלוואה עברי</label>
    <div class="p-col">
        <input formControlName="hebrewDate" id="hebrewDate" type="text" pInputText> 
    </div>
    </div>

    <div class="p-field p-grid">
    <label for="repaymentDate" class="p-col-fixed" style="width:100px">תאריך החזר ההלוואה</label>
    <div class="p-col">
        <input formControlName="repaymentDate" id="repaymentDate" type="text" pInputText> 
    </div>
    </div>

    <div class="p-field p-grid">
    <label for="hebrewRepaymentDate" class="p-col-fixed" style="width:100px">תאריך החזר הלוואה עברי</label>
    <div class="p-col">
        <input formControlName="hebrewRepaymentDate" id="hebrewRepaymentDate" type="text" pInputText> 
    </div>
    </div>

    <div class="p-field p-grid">
    <label for="paymentsNumber" class="p-col-fixed" style="width:100px">מספר תשלומים</label>
    <div class="p-col">
        <input formControlName="paymentsNumber" id="paymentsNumber" type="text" pInputText> 
    </div>
    </div>

    <div class="p-field p-grid">
    <label for="paidUp" class="p-col-fixed" style="width:100px"> האם שולם?</label>
    <div class="p-col">
        <p-checkbox [formControl]="loanerDetailesForm.controls['paidUp']" [binary]="true" id="paidUp"></p-checkbox>
    </div>
    </div>
    <button (click)="editDetails()">עדכן פרטים</button>
  </form>
