<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div style="direction: rtl; text-align: right; padding-bottom: 10px;">
    <b>{{_loaner.user.firstName}} {{_loaner.user.lastName}}</b><br>
    {{_loaner.user.telephoneNumber1}} | {{_loaner.user.telephoneNumber2}} <br>
    <a href="mailto:{{_loaner.user.email}}" class="col-6 btn btn-purple-moon">לחץ כאן לשליחת מייל ללווה</a>
    <a class="col-6 btn btn-purple-moon" [routerLink]="['/editUserDetails/' ,_loaner.user.id]">לפרטי המשתמש המלאים</a>
    <!--href="mailto:{{_loaner.user.email}}" <button [routerLink]="['/editUserDetails/' ,_loaner.user.id]" pButton type="button" label="פרטי המשתמש המלאים" icon="pi pi-user" iconPos="right" ></button> -->
</div>


<!--<form [formGroup]="loanerDetailesForm">
    <div class="form-group">
        <label for="sum" class="col-form-label">סכום הלוואה:</label>
        <input [formControl]="loanerDetailesForm.controls[sum]" type="text" class="form-control" id="sum">
    </div>
    <div class="form-group">
        <label for="paymentsNumber" class="col-form-label">מספר תשלומים:</label>
        <textarea [formControl]="loanerDetailesForm.controls[paymentsNumber]" class="form-control"
            id="paymentsNumber"></textarea>
    </div>
</form>-->



<form [formGroup]="loanerDetailesForm" style="direction: rtl; text-align: right;">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <label for="sum" class="p-col-fixed" style="width:150px">סכום הלוואה</label>
            <div class="p-col-6">
                <input style="width: 200px;" formControlName="sum" id="sum" type="text" pInputText>
            </div>
        </div>

        <div class="p-field p-col">
            <label for="paymentsNumber" class="p-col-fixed " style="width:150px">מספר תשלומים</label>
            <div class="p-col-6">
                <input style="width: 100px;" min="0" formControlName="paymentsNumber" id="paymentsNumber" type="number" pInputText>
            </div>
        </div>
    </div>

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <label for="loanDate" class="p-col-fixed" style="width:150px">תאריך הלוואה</label>
            <div class="p-col">
                <input formControlName="loanDate" id="loanDate" type="text" pInputText>
            </div>
        </div>

        <div class="p-field p-col">
            <label for="hebrewLoanDate" class="p-col-fixed" style="width:150px">תאריך הלוואה עברי</label>
            <div class="p-col">
                <input formControlName="hebrewLoanDate" id="hebrewLoanDate" type="text" pInputText>
            </div>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <label for="repaymentDate" class="p-col-fixed" style="width:150px">תאריך החזר ההלוואה</label>
            <div class="p-col">
                <input formControlName="repaymentDate" id="repaymentDate" type="text" pInputText>
            </div>
        </div>

        <div class="p-field p-col">
            <label for="hebrewRepaymentDate" class="p-col-fixed" style="width:200px">תאריך החזר הלוואה עברי</label>
            <div class="p-col">
                <input formControlName="hebrewRepaymentDate" id="hebrewRepaymentDate" type="text" pInputText>
            </div>
        </div>
    </div>
    <div style="text-align: center;" class="funkyradio">
        <div  class="funkyradio-warning col">
            <input type="checkbox" [formControl]="loanerDetailesForm.controls['paidUp']" name="paidUp" id="paidUp"
                checked />
            <label style="text-align: right;" for="paidUp">האם ההלוואה עדין פעילה?</label>
        </div>
    </div> 
<!-- <div class="p-field p-col">
        <label for="paidUp" class="p-col-fixed" style="width:150px"> האם שולם?</label>
        <div class="p-col">
            <p-checkbox [formControl]="loanerDetailesForm.controls['paidUp']" [binary]="true" id="paidUp"></p-checkbox>
        </div>
    </div> -->

    <button (click)="editDetails()">עדכן פרטים</button>
</form> 