h3{
    text-align:center;
    margin-bottom:10px;
    margin-top:10px;
  }
  .blog-card-blog {
      margin-top: 30px;
  }
  .blog-card {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 600px; 
      margin-bottom: 30px;
      border-radius: 6px;
      color: rgba(0, 0, 0, 0.87);
      background: #fff;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .blog-card .blog-card-image {
      height: 60%;
      position: relative;
      overflow: hidden;
      margin-left: 15px;
      margin-right: 15px;
      margin-top: -30px;
      border-radius: 6px;
      box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  .blog-card .blog-card-image img {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      pointer-events: none;
  }
  .blog-card .blog-table {
      padding: 15px 30px;
  }
  .blog-table {
      margin-bottom: 0px;
  }
  .blog-category {
      position: relative;
      line-height: 0;
      margin: 15px 0;
  }
  .blog-text-success {
      color: #28a745!important;
  }
  .blog-card-blog .blog-card-caption {
      margin-top: 5px;
  }
  .blog-card-caption {
      font-weight: 700;
      font-family: "Roboto Slab", "Times New Roman", serif;
  }
  .fa {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  .blog-card-caption, .blog-card-caption a {
      color: #333;
      text-decoration: none;
  }
  p {
      color: #3C4857;
  }
  p {
      margin-top: 0;
      margin-bottom: 1rem;
  }
  .blog-card .ftr {
      margin-top: 15px;
  }
  .blog-card .ftr .author {
      color: #888;
  }
  
  .blog-card .ftr div {
      display: inline-block;
  }
  .blog-card .author .avatar {
      width: 36px;
      height: 36px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 5px;
  }
  .blog-card .ftr .stats {
      position: relative;
      top: 1px;
      font-size: 14px;
  }
  .blog-card .ftr .stats {
      float: right;
      line-height: 30px;
  }
  i {  vertical-align: middle; }
  .table-users tbody tr:hover {
      cursor: pointer;
      background-color: darkgrey;
  }
  .nav-user-photo {
       vertical-align: middle;
  }
  .user_panel {
      width: 100%;
  }

.btn_img{
    background-image: url(https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    content: '';
    display: block;
    height: 48px;
    min-width: 56px;
}
.add{
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    -webkit-font-smoothing: antialiased;
    font-family: 'Google Sans', Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    /* font-size: .875rem; */
    letter-spacing: .25px;
    /* -webkit-align-items: center; */
    align-items: center;
    background-color: #fff;
    /* background-image: none; */
    /* -webkit-border-radius: 24px; */
    border-radius: 24px;
    color: #3c4043;
    /* display: -webkit-inline-box;
    display: -webkit-inline-flex; */
    display: inline-block;
    font-weight: 500;
    height: 48px;
    min-width: 56px;
    overflow: hidden;
    padding: 0 0 0 24px;
    text-transform: none;
    margin-left: 0;
    cursor: pointer;
    line-height: 32px;
    border: none;
    -webkit-user-drag: none;
    text-align: center;
    white-space: nowrap;
    outline: 0;

}
/* .icon-btn{
    background:#f5f5f5;
    float:left;
} */

.icon-btn button{
    float: right;;
    margin:10px;
}
.btn-text{
    width:60%;
}
.btn-gradient {    
    width:40%;
    position: relative;
    display: inline-block;
    left:-20px;
    background: rgba(214, 212, 212, 0.15);
/* background-color: white; */
    border-top-right-radius: 60px;
    padding: 8px 24px 8px 16px;
    box-shadow: 2px 0px 0px 0px rgba(78, 72, 72, 0.4);
}

.btn-green{
    font-size:23px;
    padding:20px 20px;
    color: rgb(82, 75, 75);
    background-color: white;
    border:white;
    justify-content: center;
    align-items: center;
    display: flex;
    width:200px;
}
