<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://use.fontawesome.com/1e803d693b.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="row containerRow">
<div class="container">
    <div class='card dollarRate'>
        <div class="card-body">
              Todays Dollar Rate:{{currencyValue}}$
        </div>
    </div>
<div class="topDaily row"><label class="daily-activity-lable">פעילות יומית</label></div>
    <div class="row card mainCard">
        <div class="card-body btnCard">
            <div class='actionBtns'>
                <button class='actionBtn' type="button" (click)="newLoan()">הלוואה חדשה </button>
                <button class='actionBtn' type="button" (click)="newDeposite()">הפקדה חדשה </button>
                <button class='actionBtn' type="button" (click)="newPayment()">החזר חוב </button>   
            </div>   
        </div>
      </div>
    <div class="row">
        <div class="col-md-4">
            <div class="blog-card blog-card-blog">
                <div class="container">
                    <div class="row">
                        <div class="user_panel">
                            <div class="panel-heading">
                                <h3 style="direction: rtl;" class="panel-title">תשלומים שהיו צריכים להיכנס ולא נכנסו</h3>
                            </div>
                            <!-- <div class="panel-body" > -->
                                <ul *ngFor="let user of todaysUsersListThatWerentPaid" class="list-group list-group-flush" style="padding: 0;">
                                    <li class="list-group-item dailyList">
                                        <label class='firstNameLable'>{{user.firstName}}</label>
                                        <label class='lastNameLable'>{{user.lastName}}</label>
                                        <label class='monthlyPaymentSumLable'>{{user.loan[0].monthlyPaymentSum}}</label>
                                        <label class='monthlyPaymentDayLable'>{{ user.loan[0].monthlyPaymentDay | date:'MM/dd/yyyy'}}</label>
                                    </li>
                                </ul>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="blog-card blog-card-blog">
                <div class="container">
                    <div class="row">
                        <div class="panel panel-default user_panel">
                            <div class="panel-heading">
                                <h3 style="direction: rtl;" class="panel-title">תשלומים שנכנסו</h3>
                                <a routerLink="/payments">לכל התשלומים</a>
                            </div>
                            <div class="panel-body">
                                <div class="table-container">
                                    <table *ngFor="let userPayment of userPaymentList" class="table-users table" style="border: none ; direction: rtl;">
                                        <tbody >
                                            <tr >
                                                <td width="10" style="text-align: center; direction: rtl;">
                                                    <i class="fa fa-2x fa-user fw"></i>
                                                </td>
                                                <td width="10">
                                                    <img class="pull-left img-circle nav-user-photo" width="40"
                                                        src="https://image.flaticon.com/icons/svg/848/848006.svg" />  
                                                </td>
                                                <td>
                                                    {{userPayment.user.firstName}}
                                                </td>
                                                <td>
                                                    {{userPayment.user.lastName}} <br><i class="fa fa-envelope"></i>
                                                </td>
                                                <td>
                                                    {{userPayment.payment.collectionSum}}
                                                </td>
                                                <td style="text-align: center;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="blog-card blog-card-blog">
                <div class="container">
                    <div class="row">
                        <div class="panel panel-default user_panel">
                            <div class="panel-heading">
                                <h3 style="direction: rtl;" class="panel-title">הלוואות שיצאו היום</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-container">
                                    <table *ngFor="let loaner of loanerList" class="table-users table" style="border: none ; direction: rtl;">
                                        <tbody >
                                            <tr >
                                                <td width="10" style="text-align: center; direction: rtl;">
                                                    <i class="fa fa-2x fa-user fw"></i>
                                                </td>
                                                <td width="10">
                                                    <img class="pull-left img-circle nav-user-photo" width="40"
                                                        src="https://image.flaticon.com/icons/svg/848/848006.svg" />  
                                                </td>
                                                <td>
                                                    {{loaner.user.firstName}}
                                                </td>
                                                <td>
                                                    {{loaner.user.lastName}} <br><i class="fa fa-envelope"></i>
                                                </td>
                                                <td>
                                                    {{loaner.loaner.sum}}
                                                </td>
                                                <td style="text-align: center;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>


