<!-- <div class=" containerRow"> -->
    <div  class="container-fluid">
        <div class='card dollarRate'>
            <div >
            שער הדולר:{{currencyValue}} ש"ח 
            </div>
        </div>
        <div class="topDaily row">
            פעילות יומית
        </div>
        <div style="margin-top: 62px;" class="row">
            <div class="col-md-4">
                <div class="blog-card blog-card-blog">
                    <div class="container">
                        <div class="row">
                            <div class="panel panel-default user_panel">
                                <div class="panel-heading">
                                    <h2  class="panel-title">חדלות פרעון</h2>
                                </div>
                                <div class="panel-body">
                                    <div class="table-container">
                                        <table *ngFor="let user of todaysUsersListThatWerentPaid" class="table-users table"
                                            style="border: none ; direction: rtl;">
                                            <tbody>
                                                <tr>
                                                    <td width="10">
                                                        <img class="pull-left img-circle nav-user-photo" width="40"
                                                            src="../../../assets/img//faces/face-0.jpg" />  
                                                    </td>
                                                    <td>
                                                        {{user.firstName}}
                                                    </td>
                                                    <td>
                                                        {{user.lastName}} <br><i class="fa fa-envelope"></i>
                                                    </td>
                                                    <td>
                                                        {{user.loan[0].monthlyPaymentSum}}
                                                    </td>
                                                    <!-- <td>
                                                        {{user.loan[0].monthlyPaymentDay}}
                                                    </td> -->
                                                    <td style="text-align: center;">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-card blog-card-blog">
                    <div class="container">
                        <div class="row">
                            <div class="panel panel-default user_panel">
                                <div class="panel-heading">
                                    <h2 style="direction: rtl;" class="panel-title">תשלומים שנכנסו</h2>
                                    <a class="allPayments" routerLink="/payments">לכל התשלומים</a>
                                </div>
                                <div class="panel-body">
                                    <div class="table-container">
                                        <table *ngFor="let userPayment of userPaymentList" class="table-users table"
                                            style="border: none ; direction: rtl;">
                                            <tbody>
                                                <tr>
                                                    <td width="10">
                                                        <img class="pull-left img-circle nav-user-photo" width="40"
                                                            src="../../../assets/img//faces/face-0.jpg" />  
                                                    </td>
                                                    <td>
                                                        {{userPayment.user.firstName}}
                                                    </td>
                                                    <td>
                                                        {{userPayment.user.lastName}} <br><i class="fa fa-envelope"></i>
                                                    </td>
                                                    <td>
                                                        {{userPayment.payment.collectionSum}}
                                                    </td>
                                                    <td style="text-align: center;">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-card blog-card-blog">
                    <div class="container">
                        <div class="row">
                            <div class="panel panel-default user_panel">
                                <div class="panel-heading">
                                    <h2 style="direction: rtl;" class="panel-title">הלוואות שיצאו היום</h2>
                                </div>
                                <div class="panel-body">
                                    <div class="table-container">
                                        <table *ngFor="let loaner of loanerList" class="table-users table"
                                            style="border: none ; direction: rtl;">
                                            <tbody>
                                                <tr>
                                                    <td width="10">
                                                        <img class="pull-left img-circle nav-user-photo" width="40"
                                                            src="../../../assets/img//faces/face-0.jpg" />  
                                                    </td>
                                                    <td>
                                                        {{loaner.user.firstName}}
                                                    </td>
                                                    <td>
                                                        {{loaner.user.lastName}} <br><i class="fa fa-envelope"></i>
                                                    </td>
                                                    <td>
                                                        {{loaner.loaner.sum}}
                                                    </td>
                                                    <td style="text-align: center;">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->