<app-success-alert *ngIf="success" (close)="close()" [details]="massege"></app-success-alert>

<div id="top-filter" class="top-filter tfilter-box ">
    <div class="row">
        <div class="col">
            <input [(ngModel)]="dtoUsersPrms.identityNumber" #identityNumberInput class="form-control-top"
                placeholder="תעודת זהות" type="text">
        </div>
        <div class="col">
            <input [(ngModel)]="dtoUsersPrms.firstName" #firstNameInput class="form-control-top" placeholder="שם פרטי"
                type="text">
        </div>
        <div class="col">
            <input [(ngModel)]="dtoUsersPrms.lastName" #lastNameInput class="form-control-top" placeholder="שם משפחה"
                type="text">
        </div>
        <div class="col">
            <input [(ngModel)]="dtoUsersPrms.address" #addressInput class="form-control-top" placeholder="כתובת"
                type="text">
        </div>
        <div class="col">
            <input [(ngModel)]="dtoUsersPrms.sum" #telephoneNumberInput class="form-control-top" placeholder="סכום"
                type="number">
        </div>
        <div class="col">
            <button class='searchBtn'type type="button" (keyup.enter)="search()" (click)="search()">חפש </button>
        </div>
    </div>
</div>


<div style=" margin-top: 3rem;">
    <div class="l-container">
        <ul style="padding-right: 0px" *ngFor="let depositor of depositorToDisplay.slice().reverse()">
            <li class="list" data-name="JoeBrown">
                <div class="list__profile">
                    <img class="pull-left img-circle nav-user-photo" width="90"
                        src="../../../assets/img//faces/face-0.jpg" />  
                    <div class="list__label">
                        <div class="list__label--header"> {{depositor.user.firstName}} {{depositor.user.lastName}}
                        </div>
                        <div class="list__label--value"> סכום הפקדה - {{depositor.deposite.sum}}
                            {{depositor.currancyType}} </div>
                        <div class="list__label--value"> תאריך הפקדה - {{depositor.deposite.date | date:"dd/MM/yyyy"}}
                        </div>
                        <div class="list__label--value"> תאריך סיום הפקדה - {{depositor.deposite.returnDate |
                            date:"dd/MM/yyyy"}} </div>
                    </div>
                    <div>
                        <button class='searchBtn' type="button" (click)="editDetails(depositor)">ערוך פרטים </button>
                        <button class='searchBtn' type="button" (click)="openPopup(depositor)">מחק הפקדה </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div style="padding-top: 4px; padding-right: 4px; border-bottom: none;" class="modal-header">
                <button style="float: right; font-weight: bold; background-color: transparent;
            border: none;" class="modal-title" (click)="closePopup()">x</button>
            </div>
            <div style="padding-bottom: 0px;" class="modal-body">
                <p style="float: right; "> האם אתה בטוח שברצונך למחוק את ההפקדה של
                    {{singleDeposite.user.firstName}} {{singleDeposite.user.lastName}} על סך
                    {{singleDeposite.deposite.sum}} {{singleDeposite.currancyType}} לצמיתות ?</p>
            </div>
            <div style="border-top: none;" class="modal-footer">
                <button style="background-color: #f1d57e; border-color: #e7d35d ;width: 87px; margin-right: 18px"
                    type="button" class="searchBtn" (click)="closePopup()">
                    ביטול
                </button>
                <button style="width: 87px; margin-right: 18px;" type="button" class="searchBtn" (click)="deleteDepositor(singleDeposite.deposite.id)">
                    אישור
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 
<p-dialog *ngIf='depositor1' header="{{depositor1.user.firstName}}" [(visible)]="display" modal="modal"
    [style]="{width: '350px'}" [responsive]="true">
    <span>
        <edit-details [depositorr]="depositor1"></edit-details>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="pi pi-times" (click)="display=false" label="אישור"></button>
            </div>
        </p-footer>
    </span>
</p-dialog> -->