.tfilter-box {
  padding: 30px ;
  border: 1px solid #77515124;
  border-radius: 5px;
  z-index: 1000;
  margin-left: 70px;
  margin-right: 68px;
  margin-top: 32px;
  margin-bottom: 28px;
  background-image: linear-gradient(to left,rgb(246 201 98 / 61%),rgb(255 223 79 / 76%)) !important;
}
.form-control {
  display: block;
  width: 84%;
  height: 34px;
  border: 1px solid #7c7cac;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: none;
  color: #6c757d;
  font-size: 14px;
  line-height: 1.42857143;
}
.form-control:focus{
  border-color: #7c7cac !important;
  box-shadow: 0 0 0 0.2rem rgb(124 124 172 / 38%) !important;
}
.form-control-top{
  display: block;
  height: 43px;
  border: 1px solid #e1b54b;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: none;
  color: #5f5f9a;
  font-size: 14px;
  line-height: 1.42857143;
  padding-right: 5px;
}
.form-control-top:focus{
  border-color: #ffe44e !important;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(194 137 4 / 56%) !important;
  outline: 0 !important;
}
.card {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.16);
    margin-bottom: 30px;
    overflow: hidden;
    display: block;
    width: 100%;
    position: relative;
    border: 1px solid #e5e5e5;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.searchBtn{
  width: 100%;
  height: 36px;
  border: none;
  border-radius: 5px;
  background-color: #5f5f9a;
  color: white;
  margin-top: 3.5px;
}
.searchBtn:hover {
  background-color: #4e4e91a8;
}
.l-container {
  display: block;
}
.list {
  display: flex;
  background-color: white;
  margin-right: 150px;
  margin-left: 150px;
  height: 100px;
  padding: 11px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.list:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 5px 8px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
.list__profile {
  display: flex;
  flex-grow: 1;
}
.list__label {
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.list__label--header {
  color: #5f5f9a;
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 5px;
  letter-spacing: 1px;
}
.list__label--value {
  font-size: 1.1em;
  letter-spacing: 2px;
  color: #ecb028;
}
.userEmail{
    color: #ecb028;
}
.userEmail:hover{
    color: #eaa200 !important    ;
}
.nav-user-photo {
  vertical-align: middle;
}
.modal-backdrop {
  display: none;
}
.modal {
  background-color: rgba(0,0,0,0)
}
@media screen and (max-width: 650px) {
  .list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
  }
  .list__profile {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 10px;
  }
  .list__label {
    width: 170px;
  }
}
.filter_title{
  font-weight: bold;
  font-feature-settings: "kern";
  margin-right: 4px;
  color: #7c7cac;
  margin-top: 9px;
  margin-bottom: 2px;
}
.filter_input{
  margin-right: 4px;
  width: 100%;
}
.card-header {
  background-color: rgb(122 122 171 / 99%);
  border-bottom: rgb(122 122 171 / 99%);
  color: white;
  padding: 0.15rem;
}
.card-body {
  padding-right: 1.25rem !important;
  padding-left: 1.25rem !important;
  padding-bottom: 1.25rem !important;
  padding-top: 1px !important;
  background-color: white !important;
}
.modal{
  background-color: #00000026 !important;
}
.modal-dialog {
  right: 0;
  left: 50%;
  top: 28%;
  width: 600px;
}
.boxes {
  margin: auto;
  padding: 9px;
  background: #fff;
}
input[type="checkbox"] { 
  display: none; 
}
input[type="checkbox"] + label {
  display: inline-flex;
  position: relative;
  font: 13.5px 'Open Sans', Arial, sans-serif;
  color: #000;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input[type="checkbox"] + label:last-child { 
  margin-bottom: 0; 
}
input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 13px;
  height: 13px;
  border: 1px solid #5f5f9a;
  position: absolute;
  left: 146px;
  top: 4px;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}
input[type="checkbox"]:checked + label:before {
  width: 7px;
  top: 1px;
  left: 149px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
.modal{
  -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
}
} */
/* .modal.fade {
  opacity: 0;
  filter: alpha(opacity=0);
  }
  .modal.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
  } */
.modal-dialog {
  right: 0;
  left: 50%;
  top: 10%;
  width: 600px;
  /* padding-top: 142px; */
  /* padding-bottom: 30px; */
}
.modal-header{
  padding-top: 4px;
  padding-right: 4px;
  border-bottom: none;
  padding-bottom: 0;
}
.modalCancel{
  background-color: #f1d57e;
  border-color: #e7d35d ;
  width: 87px; 
  margin-right: 18px
}
.modalSaveBtn{
  width: 87px;
  margin-right: 18px;
}
.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}