<div id="top-filter" class="top-filter tfilter-box ">
    <div class="wrapper">
        <div>
            <input [(ngModel)]="dtoUsersPrms.identityNumber" #identityNumberInput class="form-control-top"
                placeholder="תעודת זהות" type="text">
        </div>
        <div>
            <input [(ngModel)]="dtoUsersPrms.firstName" #firstNameInput class="form-control-top" placeholder="שם פרטי"
                type="text">
        </div>
        <div>
            <input [(ngModel)]="dtoUsersPrms.lastName" #lastNameInput class="form-control-top" placeholder="שם משפחה"
                type="text">
        </div>
        <div>
            <input [(ngModel)]="dtoUsersPrms.address" #addressInput class="form-control-top" placeholder="כתובת"
                type="text">
        </div>

        <div >
            <input [(ngModel)]="dtoUsersPrms.sum" #telephoneNumberInput class="form-control-top" placeholder="סכום"
                type="number">
        </div>
        <div>
            <button class='searchBtn' type="button" (click)="search()">חפש </button>
        </div>
    </div>
</div>


<div style=" margin-top: 3rem;">
    <div class="l-container">
        <ul style="padding-right: 0px" *ngFor="let payment of paymentListToDisplay.slice().reverse()">
            <li class="list" data-name="JoeBrown">
                <div class="list__profile">
                    <img class="pull-left img-circle nav-user-photo" width="90"
                        src="../../../assets/img//faces/face-0.jpg" />  
                    <div class="list__label">
                        <div class="list__label--header"> {{payment.user.firstName}} {{payment.user.lastName}}
                        </div>
                        <div class="list__label--value"> סכום - {{payment.payment.sum}} </div>
                        <div class="list__label--value"> תאריך - {{payment.payment.inputDate | date:"dd/MM/yyyy"
                            }} </div>
                    </div>
                    <div>
                        <button class='searchBtn' type="button" (click)="edit(payment)">ערוך פרטים </button>
                        <button class='searchBtn' type="button" (click)="openPopup(payment)">מחק תשלום </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div style="padding-top: 4px; padding-right: 4px; border-bottom: none;" class="modal-header">
                <button style="float: right; font-weight: bold; background-color: transparent;
            border: none;" class="modal-title" (click)="closePopup()">x</button>
            </div>
            <div style="padding-top: 17px; padding-right: 30px; padding-bottom: 0px;" class="modal-body">
                <p style="float: right; margin-top: 0; margin-bottom: 1rem;"> {{modalMessage}}</p>
            </div>
            <div style="border-top: none;" class="modal-footer">
                <button style="background-color: #f1d57e; border-color: #e7d35d ;width: 87px; margin-right: 18px"
                    type="button" class="searchBtn" (click)="closePopup()">
                    ביטול
                </button>
                <button style="width: 87px; margin-right: 18px;" type="button" class="searchBtn" (click)="close()">
                    אישור
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myModal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayEditModal}">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="closeEditModal()">&times;</button>
            </div>
            <div style="padding-top: 17px; padding-right: 30px; padding-bottom: 0px;" class="modal-body">
                <app-payments-details [payment]="paymentUser1"></app-payments-details>
            </div>
            <div style="border-top: none;" class="modal-footer">
                <button type="button" class=" searchBtn modalCancel" data-dismiss="modal" (click)="closeEditModal()">
                    ביטול
                </button>
                <button type="button" class=" searchBtn modalSaveBtn" data-dismiss="modal" (click)="editPayment()">
                    אישור
                </button>
            </div>
        </div>
    </div>
</div>